@section Scripts{
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidebar a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidebar a:hover {
                    color: #f1f1f1;
                }

            .sidebar .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

            .openbtn:hover {
                background-color: #444;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>
    <script>
        $(document).ready(function () {
            var kapatBtn = $('.closebtn');
            var acBtn = $('.openbtn');
            acBtn.hide();
            kapatBtn.show();
        });

        function openNav() {
            var kapatBtn = $('.closebtn');
            var acBtn = $('.openbtn');
            kapatBtn.show();
            acBtn.hide();
            document.getElementById("left-panel").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            var kapatBtn = $('.closebtn');
            var acBtn = $('.openbtn');
            kapatBtn.hide();
            acBtn.show();
            document.getElementById("left-panel").style.width = "100px";
            document.getElementById("main").style.marginLeft = "0px";
        }
    </script>
}

<aside id="left-panel" style="margin-top:120px !important" class="sidebar">
    <nav>

        <ul>

            <li class="@Html.RouteIf("Anasayfa", "active")">
                <a href="@Url.Action("index", "Anasayfa")" title="Ana Sayfa"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Ana Sayfa</span></a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-edit"></i>
                    <span class="menu-item-parent">Kira İşlemleri</span>
                </a>
                <ul>
                    <li class="@Html.RouteIf("Gayrimenkul", "active")">
                        @Html.AuthMainAction("Gayrimenkuller", "Index", "Gayrimenkul",
                      "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>

                    <li class="@Html.RouteIf("GayrimenkulTur", "active")">
                        @Html.AuthMainAction("Gayrimenkul Türleri", "Index", "GayrimenkulTur",
                       "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>

                    <li class="@Html.RouteIf("ResmiTatiller", "active")">
                        @Html.AuthMainAction("Resmi Tatil Tanımı", "Index", "ResmiTatiller",
                       "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>

                    <li class="@Html.RouteIf("GayrimenkulAltTur", "active")">
                        @Html.AuthMainAction("Gayrimenkul Alt Türleri", "Index", "GayrimenkulAltTur",
                       "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>

                    <li class="@Html.RouteIf("Beyan_Tur", "active")">
                        @Html.AuthMainAction("Beyan Türleri", "Index", "Beyan_Tur",
                      "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                    <li class="@Html.RouteIf("OdemePeriyotTur", "active")">
                        @Html.AuthMainAction("Ödeme Periyot Türleri", "Index", "OdemePeriyotTur",
                      "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>

                    <li class="@Html.RouteIf("KiraciTur", "active")">
                        @Html.AuthMainAction("Kiracı Türleri", "Index", "KiraciTur",
                      "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>

                    <li class="@Html.RouteIf("KiraDurum", "active")">
                        @Html.AuthMainAction("Kira Durumları", "Index", "KiraDurum",
                      "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                    <li class="@Html.RouteIf("Beyan", "active")">
                        @Html.AuthMainAction("Beyanlar", "Index", "Beyan",
                        "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-edit"></i>
                    <span class="menu-item-parent">Ödeme İşlemleri</span>
                </a>
                <ul>
                    <li class="@Html.RouteIf("Odemeler", "active")">
                        <a href="@Url.Action("Index", "Odemeler")" title="Ödemeler">
                            <i class="fa fa-lg fa-fw fa-barcode"></i> Ödemeler
                        </a>
                    </li>
                    <li class="@Html.RouteIf("Odemeler", "active")">
                        <a href="@Url.Action("Index", "OdemeTur")" title=" Ödeme Türleri">
                            <i class="fa fa-lg fa-fw fa-barcode"></i> Ödeme Türleri
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-edit"></i>
                    <span class="menu-item-parent">Kira Dosya İşlemleri</span>
                </a>
                <ul>
                    <li class="@Html.RouteIf("GayrimenkulDosyaTur", "active")">
                        @Html.AuthMainAction("Gayrimenkul Dosya Türleri", "Index", "GayrimenkulDosyaTur",
                      "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                    <li class="@Html.RouteIf("Beyan_Dosya", "active")">
                        @Html.AuthMainAction("Beyan Dosyaları", "Index", "Beyan_Dosya",
                      "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                    <li class="@Html.RouteIf("BeyanDosyaTur", "active")">
                        @Html.AuthMainAction("Beyan Dosya Türleri", "Index", "BeyanDosyaTur",
                      "fa fa-lg fa-fw fa-barcode", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-edit"></i>
                    <span class="menu-item-parent">Sistem Yönetimi</span>
                </a>
                <ul>
                    <li class="@Html.RouteIf("Roles", "active")">
                        @Html.AuthMainAction("Roller", "Index", "Roles", "fa fa-lg fa-fw fa-list-alt", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>

                    <li class="@Html.RouteIf("Users", "active")">

                        @Html.AuthMainAction("Kullanıcılar", "Index", "Users", "fa fa-lg fa-fw fa-list-alt", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>

                    <li class="@Html.RouteIf("KullaniciYetki", "active")">

                        @Html.AuthMainAction("Kullanıcı Yetki", "Index", "KullaniciYetki", "fa fa-lg fa-fw fa-list-alt", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                    @*<li class="@Html.RouteIf("Pages", "active")">
            @Html.AuthMainAction("Sayfalar", "Index", "Pages", "fa fa-lg fa-fw fa-list-alt", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
        </li>*@
                    <li class="@Html.RouteIf("DuyuruTur", "active")">
                        @Html.AuthMainAction("DuyuruTurleri", "Index", "DuyuruTur", "fa fa-lg fa-fw fa-list-alt", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                    <li class="@Html.RouteIf("Duyuru", "active")">
                        @Html.AuthMainAction("Duyurular", "Index", "Duyuru", "fa fa-lg fa-fw fa-list-alt", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                    <li class="@Html.RouteIf("Logs", "active")">
                        @Html.AuthMainAction("Loglar", "Index", "Logs", "fa fa-lg fa-fw fa-list-alt", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                    <li class="@Html.RouteIf("SistemParametreleri", "active")">
                        @Html.AuthMainAction("Sistem Parametreleri", "Index", "SistemParametreleri", "fa fa-lg fa-fw fa-list-alt", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
