

<aside id="left-panel" style="margin-top:120px !important">


    <nav>
        <ul>
            <li class="@Html.RouteIf("Anasayfa", "active")">
                <a href="@Url.Action("index", "Anasayfa")" title="Ana Sayfa"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Ana Sayfa</span></a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-edit"></i>
                    <span class="menu-item-parent">Kira İşlemleri</span>
                </a>
                <ul>
                    <li class="@Html.RouteIf("MulkiyetTurleri", "active")">
                        <a href="@Url.Action("Index", "MulkiyetTurleri")" title="Mülkiyet Türleri">
                            <i class="fa fa-lg fa-fw fa-barcode"></i> Mülkiyet Türleri
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-edit"></i>
                    <span class="menu-item-parent">Ödeme İşlemleri</span>
                </a>
                <ul>
                    <li class="@Html.RouteIf("Odemeler", "active")">
                        <a href="@Url.Action("Index", "Odemeler")" title="Ödemeler">
                            <i class="fa fa-lg fa-fw fa-barcode"></i> Ödemeler
                        </a>
                    </li>
                    <li class="@Html.RouteIf("Odemeler", "active")">
                        <a href="@Url.Action("Index", "OdemeTur")" title=" Ödeme Türleri">
                            <i class="fa fa-lg fa-fw fa-barcode"></i> Ödeme Türleri
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-edit"></i>
                    <span class="menu-item-parent">Sistem Yönetimi</span>
                </a>
                <ul>
                    <li class="@Html.RouteIf("Roles", "active")">
                        <a href="@Url.Action("Index", "Roles")" title="Roller">
                            <i class="fa fa-lg fa-fw fa-list-alt"></i> Roller
                        </a>
                    </li>

                    <li class="@Html.RouteIf("Users", "active")">

                        @Html.ActionLinkAuthorized("Kullanıcılar", "Index",new  { controllerName = "Users" }, new { @class= "a fa-lg fa-fw fa-list-alt" }, Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                    </li>
                    <li class="@Html.RouteIf("Pages", "active")">
                        <a href="@Url.Action("Index", "Pages")" title="Sayfalar">
                            <i class="fa fa-lg fa-fw fa-list-alt"></i> Sayfalar
                        </a>
                    </li>
                    <li class="@Html.RouteIf("SistemParametresi", "active")">
                        <a href="@Url.Action("Index", "SistemParametresi")" title="Sistem Parametreleri">
                            <i class="fa fa-lg fa-fw fa-barcode"></i> Sistem Parametreleri
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

</aside>
