@model Framework.WebUI.Models.ViewModels.Beyan_GayrimenkulEkleVM

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.GayrimenkulTur, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.GayrimenkulTur, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("GayrimenkulTur", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.GayrimenkulAdi, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.GayrimenkulAdi, "", new { @class = "form-control" })
                    @Html.ValidationMessage("GayrimenkulAdi", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.AdresNo, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.AdresNo, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("AdresNo", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.NumaratajKimlikNo, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.NumaratajKimlikNo, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("GayrimenkulAdi", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.Il, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.Il, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("Il", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.Ilce, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.Ilce, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("Ilce", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.Mahalle, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.Mahalle, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("Mahalle", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.Sokak, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.Sokak, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("Sokak", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.DisKapiNo, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.DisKapiNo, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("DisKapiNo", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.IcKapiNo, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.IcKapiNo, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("IcKapiNo", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.Koordinat, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.Koordinat, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("Koordinat", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.IcKapiNo, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.IcKapiNo, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("IcKapiNo", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.Metrekare, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.Metrekare, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("Metrekare", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.AracKapasitesi, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.AracKapasitesi, new { @class = "form-control required", @type = "number" })
                    @Html.ValidationMessage("AracKapasitesi", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                @Html.LabelFor(model =>model.AcikAdres, new { @class = "col-md-4 font-bold" })
                <div class="col-md-6">
                    @Html.DisplayFor(model =>model.AcikAdres, "", new { @class = "form-control" })
                    @Html.ValidationMessage("AcikAdres", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group" style="width: 100%;">
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>
