@model Framework.WebUI.Models.ViewModels.KiraBeyanEkleVM
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Areas/Kira/Views/Shared/_LayoutKira.cshtml";
}

@if (!Model.HideContent)
{
    <div id="content">
        @*<section id="widget-grid">

                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget sorgulama-kriteri" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                            <header>
                                <div style="margin-top: -5px;">
                                    <p>
                                        <a href="@Url.Action("Index")" class="btn btn-warning" title="" rel="tooltip" data-placement="bottom" data-original-title="Gayrimenkul Dön"><span class="glyphicon glyphicon-chevron-left"></span> Gayrimenkul Listesine Dön</a>
                                    </p>
                                </div>
                            </header>
                        </div>
                    </article>
                </div>
            </section>*@

        <section id="widget-grid" class="sayfaust_bosluk">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                            <h2>Beyan Tanım</h2>
                            @*<div class="btn-group" style="float: right; margin-top: 4px; margin-right: 11px;" role="menu">
                                    <button class="btn btn-primary">
                                        Gayrimenkul İşlemleri
                                    </button>
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("DosyaEkle", new { Guid = Model.Guid})" id="gayrimenkulDosya">
                                                <span class="glyphicon glyphicon-upload"></span> Dosya Yükleme
                                            </a>
                                        </li>
                                    </ul>
                                </div>*@
                        </header>
                        <div role="content" style="display: block;">
                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body">

                                <div class="row">

                                    <div id="wizard-1" novalidate="novalidate">
                                        <div id="bootstrap-wizard-1" class="col-sm-12">
                                            @{
                                                <div id="wizard">
                                                    <div class="form-bootstrapWizard">
                                                        <ul class="form-wizard nav nav-tabs">

                                                            <li data-target="#step1" class="active" id="step1" style="width:25%;">
                                                                <a href="#tab1" data-toggle="tab" aria-expanded="true">
                                                                    <span class="step">
                                                                        1 -
                                                                    </span>
                                                                    <span class="title" style="z-index:2;">Kiracı Bilgileri</span>
                                                                </a>
                                                            </li>

                                                            <li data-target="#step2" id="step2" style="width:25%;">
                                                                <a href="#tab2" data-toggle="tab" aria-expanded="false">
                                                                    <span class="step">
                                                                        2 -
                                                                    </span>
                                                                    <span class="title" style="z-index:2;">Gayrimenkul Bilgileri</span>
                                                                </a>
                                                            </li>
                                                            <li data-target="#step3" id="step3" style="width: 25%;">
                                                                <a href="#tab3" data-toggle="tab" aria-expanded="false">
                                                                    <span class="step">
                                                                        3 -
                                                                    </span>
                                                                    <span class="title" style="z-index:2;">Beyan Bilgileri</span>
                                                                </a>
                                                            </li>
                                                            <li data-target="#step4" id="step4" style="width: 20%;">
                                                                <a href="#tab3" data-toggle="tab" aria-expanded="false">
                                                                    <span class="step">
                                                                        4 -
                                                                    </span>
                                                                    <span class="title" style="z-index:2;">Dosya Bilgileri</span>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab1">
                                                            <legend>
                                                                <h3><strong>1. Adım </strong> - Kiracı Bilgileri</h3>
                                                            </legend>

                                                            @Html.AntiForgeryToken()
                                                            <fieldset>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        @using (Html.BeginForm("GetirSicilBilgisi", "Beyan", FormMethod.Post, new { enctype = "multipart/form-data", id = "kiraciForm" }))
                                                                        {
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.Label("Vergi/TC No", new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBox("TcVergiNo", "", new { @class = "form-control required", @type = "number" })
                                                                                        @*@Html.HiddenFor(model => model, new { @class = "form-control" })*@
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <button class="btn btn-primary" id="btnSicilSorgula" type="submit"
                                                                                                data-loading-text="<i class='fa fa-spinner fa-spin '></i>
                                                                                         Sicil Sorgulanıyor...">
                                                                                            <span class="glyphicon glyphicon-search"></span> Sorgula
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.SicilNo, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.SicilNo, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("SicilNo", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.TcKimlikNo, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.TcKimlikNo, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("TcKimlikNo", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.VergiNo, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.VergiNo, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("VergiNo", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.VergiDairesi, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.VergiDairesi, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("VergiDairesi", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.Ad, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.Ad, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("Ad", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.Soyad, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.Soyad, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("VergiNo", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.Tanim, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.Tanim, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("Tanim", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.IlAdi, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.IlAdi, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("IlAdi", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.IlceAdi, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.IlceAdi, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("IlceAdi", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.MahalleAdi, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.MahalleAdi, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("MahalleAdi", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                @Html.LabelFor(model => model.Kiraci.AcikAdres, new { @class = "col-md-4 font-bold" })
                                                                                <div class="col-md-6">
                                                                                    @Html.DisplayFor(model => model.Kiraci.AcikAdres, "", new { @class = "form-control" })
                                                                                    @Html.ValidationMessage("AcikAdres", new { @class = "text-danger" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                <div class="col-md-6">
                                                                                  
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>

                                                        </div>

                                                        <div class="tab-pane" id="tab2">
                                                            <legend>
                                                                <h3><strong>2. Adım </strong> - Gayrimenkul Bilgileri</h3>
                                                            </legend>
                                                            <form class="form-horizontal" id="gayrimenkulForm" novalidate="novalidate">
                                                                @Html.AntiForgeryToken()
                                                                <fieldset>
                                                                </fieldset>
                                                            </form>
                                                        </div>

                                                        <div class="tab-pane" id="tab3">
                                                            <legend>
                                                                <h3><strong>3. Adım </strong> - Beyan Bilgileri</h3>
                                                            </legend>
                                                            <form class="form-horizontal" id="beyanForm" novalidate="novalidate">
                                                                @Html.AntiForgeryToken()
                                                                <fieldset class="dosyaSatirlari" id="dosyaSatiri_1">
                                                                    <div class="col-md-10 col-md-offset-1">
                                                                        <div class="col-md-6 smart-form" style="padding: 0;">

                                                                        </div>

                                                                        <div id="loadingbtnBelgeEkleme" class="hide" style="float:left;"><i class="fa fa-spinner fa-spin fa-2x"></i> İşleminiz yapılıyor ...</div>

                                                                        <button class="btn btn-primary" id="btnBelgeKaydet" onclick="BelgeEkle()" type="button">
                                                                            <span class="glyphicon glyphicon-floppy-save"></span> Yükle
                                                                        </button>


                                                                    </div>
                                                                </fieldset>
                                                            </form>
                                                        </div>

                                                        <div class="tab-pane" id="tab3">
                                                            <legend>
                                                                <h3><strong>4. Adım </strong> - Dosya Bilgileri</h3>
                                                            </legend>
                                                            <form class="form-horizontal" id="belgeEkleForm" novalidate="novalidate">
                                                                @Html.AntiForgeryToken()
                                                                <fieldset class="dosyaSatirlari" id="dosyaSatiri_1">
                                                                    <div class="col-md-10 col-md-offset-1">
                                                                        <div class="col-md-6 smart-form" style="padding: 0;">

                                                                        </div>

                                                                        <div id="loadingbtnBelgeEkleme" class="hide" style="float:left;"><i class="fa fa-spinner fa-spin fa-2x"></i> İşleminiz yapılıyor ...</div>

                                                                        <button class="btn btn-primary" id="btnBelgeKaydet" onclick="BelgeEkle()" type="button">
                                                                            <span class="glyphicon glyphicon-floppy-save"></span> Yükle
                                                                        </button>


                                                                    </div>
                                                                </fieldset>
                                                            </form>
                                                        </div>

                                                        <div class="form-actions sonStep" style="margin-right: -18px;">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <ul class="pager wizard no-margin no-steps-container">
                                                                        <li class="previous disabled">
                                                                            <a href="javascript:void(0);" class="btn btn-lg btn-default" id="btnGeri"> Geri </a>
                                                                        </li>
                                                                        <li class="next">
                                                                            <a href="javascript:void(0);" id="btnIleri" class="btn btn-lg txt-color-darken"> Kaydet ve İlerle</a>
                                                                            <div id="loadingbtnIleri" class="hide" style="float:right;"><i class="fa fa-spinner fa-spin fa-2x"></i> İşleminiz yapılıyor ...</div>
                                                                        </li>
                                                                        <li class="finish" style="float: right; margin-right: 15px; display: block;">
                                                                            <button class="btn btn-success" id="btnSonKaydet" type="submit">
                                                                                Kaydet <span class="glyphicon glyphicon-ok"></span>
                                                                            </button>
                                                                            <div id="btnSonKaydet" class="hide" style="float:right;"><i class="fa fa-spinner fa-spin fa-2x"></i> İşleminiz yapılıyor ...</div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="contentinfo">
                                <div class="widget-body">
                                    <div class="tab-pane fade active in">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
}

@section pagespecific {
    <!-- Sweet Alert -->
    <link href="~/Content/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <script src="~/Content/SweetAlert/sweetalert2.min.js"></script>
    <script src="~/Scripts/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Scripts/loadingoverlay.min.js"></script>

    <style type="text/css">
        .loadingoverlay_element {
            position: fixed;
            z-index: 999;
            height: 10em;
            width: 20em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    </style>

    @Scripts.Render("~/bundles/jqueryval")

    <!--Belge Ekleme -->
    <script type="text/javascript">

        $(document).on("change", ".taranmisDosya", function () {

            var BasvuruGrupTipi_DosyaTipi_Id = $(this).attr("data-id");
            $("#placeholder_" + BasvuruGrupTipi_DosyaTipi_Id).val($(this).val().replace(/C:\\fakepath\\/, ''));
        });

        function BelgeEkle(gayrimenkulId) {

            var $valid = $("#BelgeEkleForm").valid();
            if (!$valid) {
                $validatorBelgeEkle.focusInvalid();
                return false;
            } else {

                $("#path").val("");

                $('#loadingbtnBelgeEkleme').removeClass();
                $("#btnBelgeKaydet").removeClass();
                $("#btnBelgeKaydet").addClass('btn btn-warning hide');


                var sonuc = true;
                var sayac = 0;
                var elems = $("form .taranmisDosya");
                var count = elems.length;
                var tumDosyalarYuklendiMi = true;
                setTimeout(function () {
                    if (tumDosyalarYuklendiMi) {
                        $("#btnBelgeKaydet").removeClass();
                        $("#btnBelgeKaydet").addClass('btn btn-primary');
                        $('#loadingbtnBelgeEkleme').addClass('hide');
                    }
                }, 1500);


            }
        }
    </script>
    <!--Tab Control-->
    <script type="text/javascript">
        $(document).ready(function () {

            const wizard = $('#wizard');

            wizard.bootstrapWizard({
                'tabClass': 'nav nav-pills',
                onTabClick: function (tab, navigation, index) {
                    return false;
                },
                onNext: function (tab, navigation, index) {
                },
                onTabShow: function (tab, navigation, index) {

                    const $total = navigation.find('li').length;
                    const $current = index + 1;

                    const pager = wizard.find('.pager');

                    if ($current >= $total) {
                        pager.find('.next').hide();
                        pager.find('.finish').show();
                        pager.find('.finish').removeClass('disabled');

                    } else {
                        pager.find('.next').show();
                        pager.find('.finish').hide();
                    }
                }
            });

        });
    </script>

    <!--Gayrimenkul Tür-->
    <script type="text/javascript">
        $(document).ready(function () {

            $("#GayrimenkulTur_Id").change(function (e) {

                var gayrimenkulTur = $(this).find('option:selected').text();
                var colMetrekare = $('#colMetrekare');
                var colAracKapasitesi = $('#colAracKapasitesi');

                if (gayrimenkulTur == "Otopark") {
                    colMetrekare.hide();
                    colAracKapasitesi.show();
                    $('#Metrekare').val('');
                    $('#AracKapasitesi').val('');
                }
                else {
                    colMetrekare.show();
                    colAracKapasitesi.hide();
                    $('#Metrekare').val('');
                    $('#AracKapasitesi').val('');
                }


            });
        });
    </script>

    <!--İlçe Bilgileri-->
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Il_Id").change(function (e) {

                var ilId = $(this).val();

                if (ilId != null) {
                    $.ajax({
                        type: 'Post',
                        url: '/Gayrimenkul/IlceSelectList/ilId=' + ilId,
                        data: { ilId: ilId },
                        success: function (result) {
                            if (result != null && result.success) {
                                $("#Ilce_Id").empty();
                                $("#Ilce_Id").append(
                                    $('<option></option>').val(null).html('Lütfen Seçiniz'));
                                $.each(result.Data, function (i, data) {
                                    $('<option></option>').val(null).html('');
                                    $("#Ilce_Id").append(
                                        $('<option></option>').val(data.Id).html(data.Ad));
                                });
                            }
                            else {
                                swal('Uyarı!', result.Message, 'warning');
                            }
                        },
                        error: function (xhr) {
                            swal('Uyarı!', result.Message, 'warning');
                        }
                    });
                }
            });

            $("#Ilce_Id").change(function (e) {

                var ilceId = $(this).val();

                if (ilceId != null) {
                    $.ajax({
                        type: 'Post',
                        url: '/Gayrimenkul/MahalleSelectList/ilceId=' + ilceId,
                        data: { ilceId: ilceId },
                        success: function (result) {
                            if (result != null && result.success) {
                                $("#Mahalle_Id").empty();
                                $("#Mahalle_Id").append(
                                    $('<option></option>').val(null).html('Lütfen Seçiniz'));
                                $.each(result.Data, function (i, data) {
                                    $('<option></option>').val(null).html('');
                                    $("#Mahalle_Id").append(
                                        $('<option></option>').val(data.Id).html(data.Ad));
                                });
                            }
                            else {
                                swal('Uyarı!', result.Message, 'warning');
                            }
                        },
                        error: function (xhr) {
                            swal('Uyarı!', result.Message, 'warning');
                        }
                    });
                }
            });
        });
    </script>

    <!--Tapu Bilgileri Sorgulama-->
    <script type="text/javascript">
        $("#btnTasinmazSorgula").click(function (e) {

            var tasinmazNo = $('#TasinmazNo').val();

            if (tasinmazNo != '') {

                $.LoadingOverlay("show", { text: "Tapu Bilgileri Sorgulanıyor...", textResizeFactor: 0.2, background: "rgba(0, 0, 0, 0.5)" });

                setTimeout(function () {
                    $.LoadingOverlay("hide");
                }, 2000);
            }
        });
    </script>

}

