@model Framework.WebUI.Models.ViewModels.KiraBeyanEkleVM

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Areas/Kira/Views/Shared/_LayoutKira.cshtml";
    var guidId = ViewBag.GuidId;
}

@if (!Model.HideContent)
{
    if (Model.Beyan.OlusturulmaTarihi.HasValue && (DateTime)Model.Beyan.OlusturulmaTarihi < DateTime.Now.AddDays(-1))
    {
        <div id="content">
            <section id="widget-grid" class="sayfaust_bosluk">
                <div id="errorContent" style=" padding-left:30px; padding-right:20px;">
                    <section id="widget-grid">
                        <div class="row">
                            <div class="row alert alert-primary">
                                <i class="glyphicon glyphicon-warning-sign col-md-1"></i>
                                <strong>Uyarı!</strong><h4>Beyan güncelleme işlemi bir gün içerisinde yapılabilmektedir. Beyan bilgilerini beyan detay sayfasından inceleyebilirsiniz.</h4>
                                <hr />

                            </div>
                            <div class="pull-right">
                                <a href='@Url.Action("Index", "Beyan",new {})'><i class=' no-underline margin-right-5 fa fa-list font-md txt-color-blue'></i> Beyan Sayfasına Geri Dön</a>
                            </div>
                        </div>
                    </section>
                </div>

            </section>
        </div>
    }
    else
    {
        <div id="content">
            @*<section id="widget-grid">

                    <div class="row">
                        <article class="col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget sorgulama-kriteri" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                <header>
                                    <div style="margin-top: -5px;">
                                        <p>
                                            <a href="@Url.Action("Index")" class="btn btn-warning" title="" rel="tooltip" data-placement="bottom" data-original-title="Gayrimenkul Dön"><span class="glyphicon glyphicon-chevron-left"></span> Gayrimenkul Listesine Dön</a>
                                        </p>
                                    </div>
                                </header>
                            </div>
                        </article>
                    </div>
                </section>*@

            <section id="widget-grid" class="sayfaust_bosluk">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                                <h2>Beyan Tanım</h2>
                                @*<div class="btn-group" style="float: right; margin-top: 4px; margin-right: 11px;" role="menu">
                                        <button class="btn btn-primary">
                                            Gayrimenkul İşlemleri
                                        </button>
                                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("DosyaEkle", new { Guid = Model.Guid})" id="gayrimenkulDosya">
                                                    <span class="glyphicon glyphicon-upload"></span> Dosya Yükleme
                                                </a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </header>
                            <div id="errorContent" style="display:none; padding-left:30px; padding-right:20px;">
                                <section id="widget-grid">
                                    <div class="row">
                                        <div class="row alert alert-danger">
                                            <i class="glyphicon glyphicon-warning-sign col-md-1"></i>
                                            <ul style="list-style-type:none" class="col-md-11">
                                                <span id="spnMessage"></span>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div role="content" style="display: block;">
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body">

                                    <div class="row">

                                        <div id="wizard-1" novalidate="novalidate">
                                            <div id="bootstrap-wizard-1" class="col-sm-12">
                                                @{
                                                    <div id="wizard">
                                                        <div class="form-bootstrapWizard">
                                                            <ul class="form-wizard nav nav-tabs">

                                                                <li data-target="#step1" class="active" id="step1" style="width:25%;">
                                                                    <a href="#tab1" data-toggle="tab" aria-expanded="true">
                                                                        <span class="step">
                                                                            1 -
                                                                        </span>
                                                                        <span class="title" style="z-index:2;">GayrimenkulBilgileri</span>
                                                                    </a>
                                                                </li>

                                                                <li data-target="#step2" id="step2" style="width:25%;">
                                                                    <a href="#tab2" data-toggle="tab" aria-expanded="false">
                                                                        <span class="step">
                                                                            2 -
                                                                        </span>
                                                                        <span class="title" style="z-index:2;">Sicil Bilgileri</span>
                                                                    </a>
                                                                </li>
                                                                <li data-target="#step3" id="step3" style="width: 25%;">
                                                                    <a href="#tab3" data-toggle="tab" aria-expanded="false">
                                                                        <span class="step">
                                                                            3 -
                                                                        </span>
                                                                        <span class="title" style="z-index:2;">Beyan Bilgileri</span>
                                                                    </a>
                                                                </li>
                                                                <li data-target="#step4" id="step4" style="width: 20%;">
                                                                    <a href="#tab4" data-toggle="tab" aria-expanded="false">
                                                                        <span class="step">
                                                                            4 -
                                                                        </span>
                                                                        <span class="title" style="z-index:2;">Dosya Bilgileri</span>
                                                                    </a>
                                                                </li>

                                                            </ul>

                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="tab1">
                                                                <legend>
                                                                    <h3><strong>1. Adım </strong> - Gayrimenkul Bilgileri</h3>
                                                                </legend>
                                                                @Html.AntiForgeryToken()
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            @Html.HiddenFor(x => x.Gayrimenkul.Id)
                                                                            @Html.HiddenFor(model => model.Kiraci.Id)
                                                                           
                                                                            @if (guidId == null)
                                                                            {
                                                                                using (Ajax.BeginForm("GetirGayrimenkulBilgi", "Beyan", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "dvGayrimenkulForm", OnSuccess = "onSuccess" }, new { enctype = "multipart/form-data", id = "gayrimenkulForm" }))
                                                                                {
                                                                                    <div class="form-group">
                                                                                        <div class="input-group" style="width: 100%;">
                                                                                            @Html.Label("Gayrimenkul No", new { @class = "col-md-4 font-bold" })
                                                                                            <div class="col-md-6">
                                                                                                @Html.TextBox("GayrimenkulNo", "", new { @class = "form-control required", @type = "text" })
                                                                                                @Html.ValidationMessage("GayrimenkulNo", new { @class = "text-danger" })
                                                                                            </div>
                                                                                            <div class="col-md-2">
                                                                                                <button class="btn btn-primary" id="btnGayrimenkulSorgula" type="submit">
                                                                                                    <span class="glyphicon glyphicon-search"></span> Sorgula
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div><div id="dvGayrimenkulForm">
                                                                        @{ Html.RenderPartial("_GayrimenkulPartial", Model.Gayrimenkul); }
                                                                    </div>

                                                                </fieldset>
                                                            </div>

                                                            <div class="tab-pane" id="tab2">
                                                                <legend>
                                                                    <h3><strong>2. Adım </strong> - Sicil Bilgileri</h3>
                                                                </legend>
                                                                @Html.AntiForgeryToken()
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            @Html.HiddenFor(model => model.Kiraci.Id)

                                                                            @using (Ajax.BeginForm("GetirSicilBilgi", "Beyan", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "dvSicilForm", OnSuccess = "onSuccess" }, new { enctype = "multipart/form-data", id = "kiraciForm" }))
                                                                            {
                                                                                if (guidId == null)
                                                                                {

                                                                                    <div class="form-group">
                                                                                        <div class="input-group" style="width: 100%;">
                                                                                            @Html.Label("Vergi/TC No", new { @class = "col-md-4 font-bold" })
                                                                                            <div class="col-md-6">
                                                                                                @Html.TextBox("TcVergiNo", "", new { @class = "form-control required", @type = "number" })
                                                                                                @Html.ValidationMessage("TcVergiNo", new { @class = "text-danger" })
                                                                                                @*@Html.HiddenFor(model => model, new { @class = "form-control" })*@
                                                                                            </div>
                                                                                            <div class="col-md-2">
                                                                                                <button class="btn btn-primary" id="btnSicilSorgulas" type="submit">
                                                                                                    <span class="glyphicon glyphicon-search"></span> Sorgula
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                            }

                                                                        </div>
                                                                    </div>
                                                                    <div id="dvSicilForm">
                                                                        @{


                                                                            Html.RenderPartial("_SicilPartial", Model.Kiraci); }
                                                                    </div>
                                                                </fieldset>
                                                            </div>

                                                            <div class="tab-pane" id="tab3">
                                                                <legend>
                                                                    <h3><strong>3. Adım </strong> - Beyan Bilgileri</h3>
                                                                </legend>
                                                                <form class="form-horizontal" id="beyanForm" novalidate="novalidate">
                                                                    @Html.AntiForgeryToken()
                                                                    @Html.HiddenFor(model => model.Beyan.Id)
                                                                    <fieldset>
                                                                        @{ Html.RenderPartial("_BeyanPartial", Model.Beyan); }
                                                                    </fieldset>
                                                                </form>
                                                            </div>

                                                            <div class="tab-pane" id="tab4">
                                                                <legend>
                                                                    <h3><strong>4. Adım </strong> - Dosya Bilgileri</h3>
                                                                </legend>
                                                                <form class="form-horizontal" id="belgeEkleForm" novalidate="novalidate">
                                                                    @Html.AntiForgeryToken()
                                                                    <fieldset class="dosyaSatirlari" id="dosyaSatiri_1">
                                                                        @{ Html.RenderPartial("_DosyaPartial", Model.Beyan); }
                                                                    </fieldset>
                                                                </form>
                                                            </div>

                                                            <div class="form-actions sonStep" style="margin-right: -18px;">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <ul class="pager wizard no-margin no-steps-container">
                                                                            <li class="previous disabled">
                                                                                <a href="javascript:void(0);" class="btn btn-lg btn-default" id="btnGeri"> Geri </a>
                                                                            </li>
                                                                            <li class="next">
                                                                                <a href="javascript:void(0);" id="btnIleri" class="btn btn-lg txt-color-darken"> Kaydet ve İlerle</a>
                                                                                <div id="loadingbtnIleri" class="hide" style="float:right;"><i class="fa fa-spinner fa-spin fa-2x"></i> İşleminiz yapılıyor ...</div>
                                                                            </li>
                                                                            <li class="finish" style="float: right; margin-right: 15px; display: block;">
                                                                                @*@using (Ajax.BeginForm("KiraBeyanEkle", "Beyan", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "dvGayrimenkulForm" }, new { enctype = "multipart/form-data", id = "gayrimenkulForm" }))
                                                                                    {*@
                                                                                <button class="btn btn-success" id="btnSonKaydet" type="button">
                                                                                    Kaydet <span class="glyphicon glyphicon-ok"></span>
                                                                                </button>
                                                                                <div id="dvSonKaydet" class="hide" style="float:right;"><i class="fa fa-spinner fa-spin fa-2x"></i> İşleminiz yapılıyor ...</div>
                                                                                @*  *@
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    }
}

@section pagespecific {

    @Scripts.Render("~/bundles/jqueryval")
    <!-- Sweet Alert -->
    <link href="~/Content/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <script src="~/Content/SweetAlert/sweetalert2.min.js"></script>
    <script src="~/Scripts/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Scripts/loadingoverlay.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.formatCurrency-1.4.0.js"></script>

    <style type="text/css">
        .loadingoverlay_element {
            position: fixed;
            z-index: 999;
            height: 10em;
            width: 20em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .outputview {
            margin-top: 10px;
        }
        textarea {
            resize: none;
        }
    </style>

    <!--Para Formatı -->
    @*<script type="text/javascript">
            $('.moneyFormat').change(function (e) {
                //$('.moneyFormat').formatCurrency();

                var money = $(this).val();

                money = money.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');

                $(this).val(money)
            });
        </script>*@

    <!--Datetime Picker Format -->
    <script type="text/javascript">

        function MaxDateKontrol() {
            $("#BeyanTarihi").datepicker("option", "maxDate", new Date());
            $("#BeyanKapatmaTarihi").datepicker("option", "maxDate", new Date());
            $("#İhaleEncumenTarihi").datepicker("option", "maxDate", new Date());
            $("#TeminatTarihi").datepicker("option", "maxDate", new Date());
            $("#KiraBaslangicTarihi").datepicker("option", "maxDate", new Date());
        }

        $(document).ready(function () {

            $('#KiraDurum_Id').prop('select', true).change();

            MaxDateKontrol();

            jQuery.validator.methods.date = function (value, element) {

                var d = value.split(".");
                return this.optional(element) || !/Invalid|NaN/.test(new Date((/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) ? d[1] + "." + d[0] + "." + d[2] : value));
            };

            $('.datepicker').on('click', function (e) {
                e.preventDefault();
                $(this).attr("autocomplete", "off");
            });
        });

    </script>

    <!--Ajax Form Kontrol -->
    <script type="text/javascript">
        function onSuccess(result) {

            var errorContent = $('#errorContent');

            var errorData = $('#hdSicilError').val();

            var errorData2 = $('#hdGayrimenkulError').val();

            if (errorData != null && errorData != '') {
                $('#spnMessage').html(errorData);
                errorContent.show();
            }
            else if (errorData2 != null && errorData2 != '') {
                $('#spnMessage').html(errorData2);
                errorContent.show();
            }
            else {
                errorContent.hide();
            }
        }
    </script>


    <!--Belge Ekleme -->
    <script type="text/javascript">
        var beyanDosyalar = [];

        $(document).on("change", ".taranmisDosya", function (evt) {
            var DosyaTipi_Id = $(this).attr("data-id");
            var dosyaAdi = $(this).val().replace(/C:\\fakepath\\/, '');
            $("#BeyanDosyaTur_" + DosyaTipi_Id).val(dosyaAdi);
            var regex = new RegExp("(.*?)\.(pdf)$");
            //if (!(regex.test(dosyaAdi))) {
            //    UyariVer("Hata", "Sadece PDF Dosyası Yükleyebilirsiniz.", false, 4000);
            //    $("#yanlis_" + DosyaTipi_Id).show();
            //    Dosya = "";
            //}
            var fileUpload = $("#DosyaTur_" + DosyaTipi_Id).get(0);

            var files = evt.target.files[0];

            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var formData = new FormData();
                    formData.append(DosyaTipi_Id, files);
                }
            }
            var fileBinary;

            var reader = new FileReader();
            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    var binaryData = e.target.result;

                    var base64String = window.btoa(binaryData);

                    fileBinary = base64String;
                    beyanDosyalar.push({ BeyanDosyaTur_Id: DosyaTipi_Id, DosyaAdi: dosyaAdi, BeyanDosya: fileBinary });
                };
            })(files);
            // Read in the image file as a data URL.
            reader.readAsBinaryString(files);
        });

        function BelgeEkle(gayrimenkulId) {

            //var $valid = $("#BelgeEkleForm").valid();
            //if (!$valid) {
            //    $validatorBelgeEkle.focusInvalid();
            //    return false;
            //} else
            {

                $("#path").val("");

                $('#loadingbtnBelgeEkleme').removeClass();
                $("#btnBelgeKaydet").removeClass();
                $("#btnBelgeKaydet").addClass('btn btn-warning hide');


                var sonuc = true;
                var sayac = 0;
                var elems = $("form .taranmisDosya");
                var count = elems.length;
                var tumDosyalarYuklendiMi = true;
                setTimeout(function () {
                    if (tumDosyalarYuklendiMi) {
                        $("#btnBelgeKaydet").removeClass();
                        $("#btnBelgeKaydet").addClass('btn btn-primary');
                        $('#loadingbtnBelgeEkleme').addClass('hide');
                    }
                }, 1500);


            }
        }
    </script>

    <!--Tab Control-->
    <script type="text/javascript">
        $(document).ready(function () {

            const wizard = $('#wizard');
            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            }  
            wizard.bootstrapWizard({
                'tabClass': 'nav nav-pills',
                onTabClick: function (tab, navigation, index) {
                    var queryString = GetParameterValues('id');
                    if (queryString != null && queryString != '')
                        return true;
                    return false;
                },
                onNext: function (tab, navigation, index) {

                    var gayrimenkulId = $('#GayrimenkulId').val();

                    var sicilNo = $('#SicilNo').val();

                    if (index == 1) {
                        if (gayrimenkulId != "0") {
                            return true;
                        }
                        else {
                            swal('Uyarı!', 'Gayrimenkul Bilgisi Bulunamadı!!!', 'warning');
                            return false;
                        }
                    }
                    else if (index == 2) {
                        if (sicilNo != null && sicilNo != "") {
                            return true;
                        }
                        else {
                            swal('Uyarı!', 'Sicil Bilgisi Bulunamadı!!!', 'warning');
                            return false;
                        }
                    }
                    else if (index == 3) {
                        if ($('#beyanForm').valid())
                        {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                    else if (index == 4) {
                        return false;
                    }
                },
                onTabShow: function (tab, navigation, index) {
                    const $total = navigation.find('li').length;
                    const $current = index + 1;

                    const pager = wizard.find('.pager');

                    if ($current >= $total) {
                        pager.find('.next').hide();
                        pager.find('.finish').show();
                        pager.find('.finish').removeClass('disabled');

                    } else {
                        pager.find('.next').show();
                        pager.find('.finish').hide();
                    }
                }
            });

        });
    </script>

    <!--TC Vergi Kontrol-->
    <script type="text/javascript">

        var kaydetButtonBasildi = false;

        $.validator.addMethod("tcvergiKontrol", function (value, element) {

            var durum = false;

            value = value.toString();

            if (value != "")
                durum = true;
            else
                durum = false;

            return durum;

        }, "Lütfen Tc veya Vergi Kimlik Numaranızı Kontrol Ediniz");

        var $validatorKiraci = $("#kiraciForm").validate({
            rules: {
                TcVergiNo: {
                    required: true,
                    minlength: 10
                }
            },
            messages: {
                SantiyeSefiTcKimlikNo: {
                    required: 'Bu alan boş bırakılamaz.',
                    minlength: "Minimum 10 Karakter Olmalıdır."
                }
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $("#kiraciForm").on("change", function () {
            var $valid = $("#kiraciForm").valid();
            if (!$valid) {
                $validatorKiraci.focusInvalid();
                return false;
            }
        });

        $.validator.addMethod("gayrimenkulNoKontrol", function (value, element) {

            var durum = false;

            value = value.toString();

            if (value != "")
                durum = true;
            else
                durum = false;

            return durum;

        }, "Lütfen Gayrimenkul Numaranızı Kontrol Ediniz");

        var $validatorGayrimenkul = $("#gayrimenkulForm").validate({
            rules: {
                GayrimenkulNo: {
                    required: true
                }
            },
            messages: {
                GayrimenkulNo: {
                    required: 'Bu alan boş bırakılamaz.',
                }
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $("#gayrimenkulForm").on("change", function () {
            var $valid = $("#gayrimenkulForm").valid();
            if (!$valid) {
                $validatorGayrimenkul.focusInvalid();
                return false;
            }
        });

    </script>

    <!--Beyan Ekle-->
    <script type="text/javascript">
        $(function () {
            $('#btnSonKaydet').on('click', function () {

                var gayrimenkulBilgi = {
                    Id: $('#Gayrimenkul_Id').val(),
                    GayrimenkulId: $('#GayrimenkulId').val()
                }

                var sicilBilgi = {
                    Id: $('#Kiraci_Id').val(),
                    SicilNo: $('#SicilNo').val(),
                    TcKimlikNo: $('#TcKimlikNo').val(),
                    VergiNo: $('#VergiNo').val(),
                    VergiDairesi: $('#VergiDairesi').val(),
                    Ad: $('#Ad').val(),
                    Soyad: $('#Soyad').val(),
                    Tanim: $('#Tanim').val(),
                    IlAdi: $('#IlAdi').val(),
                    IlceAdi: $('#IlceAdi').val(),
                    MahalleAdi: $('#MahalleAdi').val(),
                    AcikAdres: $('#AcikAdres').val(),
                }

                var beyanBilgi = {
                    Id: $('#Beyan_Id').val(),
                    BeyanTur_Id: $('#BeyanTur_Id').val(),
                    KiraDurum_Id: $('#KiraDurum_Id').val(),
                    OdemePeriyotTur_Id: $('#OdemePeriyotTur_Id').val(),
                    BeyanYil: $("#BeyanYil option:selected").val(),
                    BeyanNo: $('#BeyanNo').val(),
                    TeminatNo: $('#TeminatNo').val(),
                    NoterSozlesmeNo: $('#NoterSozlesmeNo').val(),
                    EncumenKararNo: $('#EncumenKararNo').val(),
                    BeyanTarihi: $('#BeyanTarihi').val(),
                    IhaleEncumenTarihi: $('#IhaleEncumenTarihi').val(),
                    KiraBaslangicTarihi: $('#KiraBaslangicTarihi').val(),
                    SozlesmeTarihi: $('#SozlesmeTarihi').val(),
                    SozlesmeBitisTarihi: $('#SozlesmeBitisTarihi').val(),
                    TeminatTarihi: $('#TeminatTarihi').val(),
                    BeyanKapatmaTarihi: $('#BeyanKapatmaTarihi').val(),
                    KullanimAlani: $('#KullanimAlani').val(),
                    SozlesmeSuresi: $('#SozlesmeSuresi').val(),
                    MusadeliGunSayisi: $('#MusadeliGunSayisi').val(),
                    IhaleTutari: $('#IhaleTutari').val(),
                    KiraTutari: $('#KiraTutari').val(),
                    Kdv: $("#Kdv option:selected").text(),
                    BaslangicTaksitNo: $('#BaslangicTaksitNo').val(),
                    KalanAy: $('#KalanAy').val(),
                    DamgaAlinsinMi: $('#DamgaAlinsinMi').val(),
                    BeyanAciklama: $('#BeyanAciklama').val(),
                    OtoparkTatilGun: $("#OtoparkTatilGun").val(),
                    ResmiTatilVarmi: $('#ResmiTatilVarmi').val()
                }

               var kiraBeyanModel ={
                   Kiraci: sicilBilgi,
                   Gayrimenkul: gayrimenkulBilgi,
                   Beyan: beyanBilgi,
                   BeyanDosyalar: beyanDosyalar
                };

                if ($("#beyanForm").valid())
                {
                   $.ajax({
                    type: 'Post',
                    url: '@Url.Action("KiraBeyanEkle", "Beyan")',
                       data: { kiraBeyanModel: kiraBeyanModel },
                       beforeSend: function () {
                           $.LoadingOverlay("show", { text: "Beyan Bilgileri Kaydediliyor...", textResizeFactor: 0.2, background: "rgba(0, 0, 0, 0.5)" });
                       },
                    success: function (result) {
                        if (result != null && result.success) {
                            swal('Bilgi!', result.Message, 'success');
                            $.LoadingOverlay("hide");
                            setTimeout(function () {
                                window.location.href = "../Beyan/BeyanDetay?Guid=" + result.Data.Beyan.Guid;
                            }, 2000);
                        }
                        else {
                            swal('Uyarı!', result.Message, 'warning');
                            $.LoadingOverlay("hide");
                        }
                    },
                    error: function (xhr) {
                        swal('Uyarı!', result.Message, 'warning');
                        $.LoadingOverlay("hide");
                    }
                 });
                }
            });
        });
    </script>

    <!--Otopark Tatil Günü Bilgileri-->
    <script type="text/javascript">
        $(document).ready(function () {

            $("#BeyanTur_Id").change(function (e) {

                var pnlOtopark = $('#otoparkDiv');

                var turId = $(this).val();

                if (turId != null && turId == '2') {
                    pnlOtopark.show();
                } else {
                    pnlOtopark.hide();
                }
            });
        });
    </script>

    <!--KiraTutariHesaplama-->
    <script type="text/javascript">
        $(document).on("change keyup blur", "#KiraTutari", function () {
            var id = $(this).val();
            var it = $('#IhaleTutari').val();
            var ss = $('#SozlesmeSuresi').val();
            var kt = $('#KiraTutari').val();

            //function round(value, decimals) {
            //   return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);
            //}

            //kt = round(kt, 2);


            kt = kt.replace(/\./g, '');
            it = it.replace(/\./g, '');

            if (id = 1) {  //yıllık
                if (kt != null && ss != null && it != null) {

                    var result = (it / ss);

                    $('#result').val(result);
                    var uyari = $('#dvTutarUyari');

                    if (result == kt) {
                        kt = result;
                        uyari.hide();
                    }
                    else {
                        uyari.show();
                    }

                }
            }
            else if (id = 2) {  //aylık
                if (kt != null && ss != null && it != null) {

                    var dec = (ss * 12);
                    var result = (it / dec);


                    $('#result').val(result);
                    var uyari = $('#dvTutarUyari');

                    if (result == kt) {
                        kt = result;
                        uyari.hide();
                    }
                    else {
                        uyari.show();
                    }

                }
            }
            else {  // 3 aylık
                if (kt != null && ss != null && it != null) {

                    var dec = (ss * 4);
                    var result = (it / dec);

                    $('#result').val(result);
                    var uyari = $('#dvTutarUyari');

                    if (result == kt) {
                        kt = result;
                        uyari.hide();
                    }
                    else {
                        uyari.show();
                    }
                }
            }

        });
    </script>

    <!--Custom Validation-->
    <script type="text/javascript">
        var sozlesmeTarihi, sozlesmeBitisTarihi;
        $.validator.addMethod("sozlesmeTarihi", function (value, element) {

            var durum = true;

            sozlesmeTarihi = $('#SozlesmeTarihi').val();
            sozlesmeBitisTarihi = $('#SozlesmeBitisTarihi').val();

            if ((sozlesmeBitisTarihi != "") && (sozlesmeTarihi > sozlesmeBitisTarihi))
                durum = false;

            return durum;

        }, "Başlangıç Tarihi Bitiş Tarihinden Büyük Olamaz!!!");

        $.validator.addMethod("sozlesmeBitisTarihi", function (value, element) {
            var durum = true;

            sozlesmeTarihi = $('#SozlesmeTarihi').val();
            sozlesmeBitisTarihi = $('#SozlesmeBitisTarihi').val();

            if ((sozlesmeBitisTarihi != "") && (sozlesmeTarihi > sozlesmeBitisTarihi))
                durum = false;

            return durum;

        }, "Başlangıç Tarihi Bitiş Tarihinden Büyük Olamaz!!!");

        var $validatorTarih = $("#submitForm").validate({
            rules: {
                SozlesmeTarihi: {
                    sozlesmeTarihi: true
                },
                SozlesmeBitisTarihi: {
                    sozlesmeBitisTarihi: true
                }
            },
            messages: {
                SozlesmeTarihi: {
                    sozlesmeTarihi: 'Başlangıç Tarihi Bitiş Tarihinden Büyük Olamaz!!!'
                },
                SozlesmeBitisTarihi: {
                    sozlesmeBitisTarihi: 'Başlangıç Tarihi Bitiş Tarihinden Büyük Olamaz!!!'
                }
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    </script>

}

