@model Framework.WebUI.Models.ViewModels.SicilBeyanVM
@using PagedList;
@using PagedList.Mvc;

@{
    int sonSayfa = 0;
    ViewBag.Title = "Sicil Sorgula";
    Layout = "~/Areas/Kira/Views/Shared/_LayoutKira.cshtml";
}


@if (Model.Errors != null && Model.Errors.Count > 0)
{
    <div id="content">
        <section id="widget-grid">
            <div class="row">
                <div class="row alert alert-danger">
                    <i class="glyphicon glyphicon-warning-sign col-md-1"></i>
                    <ul style="list-style-type:none" class="col-md-11">
                        @foreach (var item in Model.Errors)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            </div>
        </section>
    </div>
}
@if (!Model.HideContent)
{
    <div id="content">
        <section id="widget-grid" class="sayfaust_bosluk">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                            <header>
                                <div style="float:left; margin-top: -5px; padding-bottom: 8px;">

                                    <span id="spnFiltre">
                                        <a href="#" id="btnAcKriter" class="btn btn-info" data-toggle="canvas" data-target="#bs-canvas-right" title="Filtreleme" aria-expanded="false" aria-controls="bs-canvas-right">
                                            <span>Filtrele</span>
                                            <i class="fa fa-filter">
                                            </i>
                                        </a>
                                    </span>
                                </div>
                                <h2>Beyan Listesi - <b>Toplam Beyan Adedi : @Model.TotalRecordCount</b></h2>

                                <div style="float:right; margin-top: -5px; padding-bottom: 8px;">

                                    <div class="btn-group" role="menu">
                                        <button class="btn btn-info">
                                            <i class="glyphicon glyphicon-export"></i>
                                            Dosya İşlemleri
                                        </button>
                                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" id="btnExport" rel="tooltip"
                                                   data-original-title="Excel Raporu">
                                                    <span>Excel</span>
                                                    <i class="fa fa-file-excel-o">
                                                    </i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" id="btnPdfConverter" title="Pdf" onclick="createPDF()">
                                                    <span>Pdf</span>
                                                    <i class="fa fa-file-pdf-o">
                                                    </i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>




                                </div>

                            </header>
                            <div role="contentinfo">
                                <div class="widget-body">
                                    <div class="tab-pane fade active in">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div id="pnlKriter" class="bs-offset-main bs-canvas-anim" style="display:none;">
                                                    <div id="bs-canvas-right" class="bs-canvas bs-canvas-anim bs-canvas-left position-fixed bg-light h-100" data-width="100%">
                                                        <header class="bs-canvas-header p-3 bg-success overflow-auto">
                                                            <button type="button" class="bs-canvas-close float-left close" aria-label="Close">
                                                                <span aria-hidden="true" class="text-light">&times;</span>
                                                            </button>
                                                            <h4 class="d-inline-block text-light mb-0 float-right">Sorgulama Kriterleri</h4><br />
                                                        </header>
                                                        <div class="bs-canvas-content px-3 py-5" style="height:250px">
                                                            @using (Html.BeginForm("SicilSorgula", "Beyan", FormMethod.Post, new { enctype = "multipart/form-data", id = "submitForm" }))
                                                            {
                                                                <div class="widget-body">
                                                                    @Html.HiddenFor(model => model.PageSize)
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <div class="input-group" style="width: 100%;">
                                                                                        @Html.LabelFor(model => Model.SicilNo, new { @class = "col-md-4 font-bold" })
                                                                                        <div class="col-md-6">
                                                                                            @Html.TextBoxFor(model => model.SicilNo, "", new { @class = "form-control " })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <div class="input-group" style="width: 100%;">
                                                                                        @Html.LabelFor(model => Model.TcKimlikNo, new { @class = "col-md-4 font-bold" })
                                                                                        <div class="col-md-6">
                                                                                            @Html.TextBoxFor(model => model.TcKimlikNo, "", new { @class = "form-control " })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <div class="input-group" style="width: 100%;">
                                                                                        @Html.LabelFor(model => Model.VergiNo, new { @class = "col-md-4 font-bold" })
                                                                                        <div class="col-md-6">
                                                                                            @Html.TextBoxFor(model => model.VergiNo, "", new { @class = "form-control " })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <div class="input-group" style="width: 100%;">
                                                                                        @Html.LabelFor(model => model.IlceSelectList, new { @class = "col-md-4 font-bold" })
                                                                                        <div class="col-md-6">
                                                                                            @Html.DropDownList("Ilce_Id", Model.IlceSelectList, "Seçiniz", new { @class = "select2 " })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <div class="input-group" style="width: 100%;">
                                                                                        @Html.LabelFor(model => model.MahalleSelectList, new { @class = "col-md-4 font-bold" })
                                                                                        <div class="col-md-6">
                                                                                            @Html.DropDownList("Mahalle_Id", new SelectList(string.Empty, "Value", "Text"), "Seçiniz", new { @class = "select2" })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <div class="input-group" style="width: 100%;">
                                                                                        @Html.LabelFor(model => model.VergiDairesi, new { @class = "col-md-4 font-bold" })
                                                                                        <div class="col-md-6">
                                                                                            @Html.TextBoxFor(model => Model.VergiDairesi, "", new { @class = "form-control " })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <div class="input-group" style="width: 100%;">
                                                                                        @Html.LabelFor(model => model.Ad, new { @class = "col-md-4 font-bold" })
                                                                                        <div class="col-md-6">
                                                                                            @Html.TextBoxFor(model => model.Ad, "", new { @class = "form-control " })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <div class="input-group" style="width: 100%;">
                                                                                        @Html.LabelFor(model => model.Soyad, new { @class = "col-md-4 font-bold" })
                                                                                        <div class="col-md-6">
                                                                                            @Html.TextBoxFor(model => Model.Soyad, "", new { @class = "form-control " })
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                          
                                                                        </div>


                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input id="btnSubmit" type="submit" value="Sorgula" class="btn btn-primary btn-header-btn">
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <input id="btnReset" onclick="clearForm()" type="reset" value="Temizle" class="btn btn-warning btn-header-btn">
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="dvTable" class="col-md-12">
                                                @{ Html.RenderPartial("_tablePartial", Model.KiraBeyanVm); }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
            </div>
        </section>
    </div>

    using (Html.BeginForm("SicilSorgula", "Beyan", new { page = 1 }, FormMethod.Post, new { @id = "sorgulamaKriterleri" }))
    {
        <input id="page" name="page" type="hidden" value="">
    }
}

@section pagespecific {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <script src="~/Content/SweetAlert/sweetalert2.min.js"></script>
    <script src="~/Scripts/loadingoverlay.min.js"></script>

    <script src="~/Scripts/table2excel.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <style type="text/css">
        .pasif-buton-beyandetay {
            padding: 3px 6px;
            border: solid 2px;
            background: none;
            border-color: #e08d26;
            color: #e08d26;
            font-weight: 700;
            display: block;
            text-align: center;
            font-size: 12px;
            width: 75px;
        }

        .aktif-buton-beyandetay {
            padding: 3px 6px;
            border: solid 2px;
            background: none;
            border-color: #2ecc71;
            color: #2ecc71;
            font-weight: 700;
            display: block;
            text-align: center;
            font-size: 12px;
            width: 55px;
        }

        .loadingoverlay_element {
            position: fixed;
            z-index: 999;
            height: 10em;
            width: 20em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        td.details-control {
            background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
        }

        #icon {
            background-color: #bbb;
            position: relative;
        }

        #not {
            position: absolute;
            top: -20px;
            right: -10px;
            background-color: #f00;
            width: 28px;
            height: 28px;
            color: #fff;
            font-size: 12px;
            border-radius: 20px -moz-border-radius:20px;
            -webkit-border-radius: 20px;
            text-align: center;
            border: 2px solid #fff;
        }

        .bs-canvas-overlay {
            opacity: 0;
            z-index: -1;
        }

            .bs-canvas-overlay.show {
                opacity: 0.85;
                z-index: 1100;
            }

        .bs-canvas {
            top: 0;
            width: 0;
            z-index: 1110;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .bs-canvas-left {
            left: 0;
        }

        .bs-canvas-right {
            right: 0;
        }

        .bs-canvas-anim {
            transition: all .4s ease-out;
            -webkit-transition: all .4s ease-out;
            -moz-transition: all .4s ease-out;
            -ms-transition: all .4s ease-out;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            if (@sonSayfa < 8) {
                $("#sayfalama").css("display", "none");
            }
        });
    </script>

    <script type="text/javascript">

        function clearForm() {
            debugger;

            $('#BeyanTur_Id').select2("val", "");
            $('#BeyanYil').select2("val", "");
            $('#KiraDurum_Id').select2("val", "");
            $('#Kdv').select2("val", "");
            $('#OdemePeriyotTur_Id').select2("val", "");
            $('#DamgaAlinsinMi').select2("val", "");
            $('#btnSubmit').click();

        }

        $(function () {
            $("#btnReset").bind("click", function () {
                $("#ddlFruits")[0].selectedIndex = 0;
            });
        });

    </script>

    <script type="text/javascript">

        $("#btnGit").on("click", function () {
            if (@sonSayfa > $("#sayfayaGit").val()) {
                $("#page").val($("#sayfayaGit").val());
                $("#sorgulamaKriterleri").submit();
            }
            else {
                $("#page").val(@sonSayfa);
                $("#sorgulamaKriterleri").submit();
            }
        });

    </script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var bsDefaults = {
                offset: false,
                overlay: true,
                height: '450px'
            },
                bsMain = $('.bs-offset-main'),
                bsOverlay = $('.bs-canvas-overlay');

            $('[data-toggle="canvas"][aria-expanded="false"]').on('click', function () {
                $('#pnlKriter').show();
                var canvas = $(this).data('target'),
                    opts = $.extend({}, bsDefaults, $(canvas).data()),
                    prop = $(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left';

                if (opts.width === '100%')
                    opts.offset = false;

                $(canvas).css('width', opts.width);
                if (opts.offset && bsMain.length)
                    bsMain.css(prop, opts.width);

                $(canvas + ' .bs-canvas-close').attr('aria-expanded', "true");
                $('[data-toggle="canvas"][data-target="' + canvas + '"]').attr('aria-expanded', "true");
                if (opts.overlay && bsOverlay.length)
                    bsOverlay.addClass('show');
                return false;
            });

            $('.bs-canvas-close, .bs-canvas-overlay').on('click', function () {
                $('#pnlKriter').hide();
                var canvas, aria;
                if ($(this).hasClass('bs-canvas-close')) {
                    canvas = $(this).closest('.bs-canvas');
                    aria = $(this).add($('[data-toggle="canvas"][data-target="#' + canvas.attr('id') + '"]'));
                    if (bsMain.length)
                        bsMain.css(($(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left'), '');
                } else {
                    canvas = $('.bs-canvas');
                    aria = $('.bs-canvas-close, [data-toggle="canvas"]');
                    if (bsMain.length)
                        bsMain.css({
                            'margin-left': '',
                            'margin-right': ''
                        });
                }
                canvas.css('width', '');
                aria.attr('aria-expanded', "false");
                if (bsOverlay.length)
                    bsOverlay.removeClass('show');
                return false;
            });
        });
    </script>


    <!--İlçe Bilgileri-->
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Ilce_Id").change(function (e) {

                var ilceId = $(this).val();

                if (ilceId != null && ilceId != '') {
                    $.ajax({
                        type: 'Post',
                        url: '/Kira/Beyan/MahalleSelectList/ilceId=' + ilceId,
                        data: { ilceId: ilceId },
                        success: function (result) {
                            if (result != null && result.success) {
                                $("#Mahalle_Id").empty();
                                $("#Mahalle_Id").append(
                                    $('<option></option>').val(null).html('Lütfen Seçiniz'));
                                $.each(result.Data, function (i, data) {
                                    $('<option></option>').val(null).html('');
                                    $("#Mahalle_Id").append(
                                        $('<option></option>').val(data.Id).html(data.Ad));
                                });
                            }
                            else {
                                swal('Uyarı!', result.Message, 'warning');
                            }
                        },
                        error: function (xhr) {
                            swal('Uyarı!', result.Message, 'warning');
                        }
                    });
                }
            });
        });
    </script>

    <!--Beyan Silme İşlemi -->
    <script type="text/javascript">
        var dt;

        var dt_settings = {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
            },
            "searching": true,
            "bPaginate": true
        };

        $(".delete-row").click(function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");
            var name = $(this).attr("data-name");
            var closestTR = $(this).closest("tr");
            var vl = deletealert(id, name, closestTR);
        });

        function OnSuccess() {
            $.LoadingOverlay("show", { text: "Beyan Bilgileri Sorgulanıyor...", textResizeFactor: 0.2, background: "rgba(0, 0, 0, 0.5)" });
            setTimeout(function () {
                $.LoadingOverlay("hide");
            }, 2000);
        }

        $(document).ready(function () {
            dt = $('#tblBeyan').DataTable(dt_settings);
            table = $('#tblDetay').DataTable(dt_settings);
        });
    </script>

    <script type="text/javascript">
        function deletealert(Id, name, closestTR) {
            swal({
                title: "Uyarı",
                text: name + " No'lu Beyanı Silmek İstediğinizden Emin misiniz?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Evet",
                cancelButtonText: "İptal"
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Beyan/Sil/" + Id,
                        type: 'POST',
                        success: function (result) {
                            if (result.success) {
                                closestTR.fadeOut(2000, function () {
                                    dt = $('#dt_basic').DataTable();
                                    swal('Uyarı!', name + ' ' + result.Message, 'success');
                                    location.reload();
                                });
                            }
                            else swal('Uyarı!', name + ' ' + result.Message, 'error');
                        }
                    });
                }
            })
        }
    </script>


    <!--Export Excel-->
    <script type="text/javascript">
        $(function () {
            $("#btnExport").click(function () {

                $("#tblBeyan").table2excel({
                    filename: "Beyanlar.xls"
                });
            });
        });
    </script>

    <!--Export PDf-->

    <script>
        function createPDF() {
            html2canvas(document.getElementById('dvTable'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Beyan.pdf");
                }
            });
        }
    </script>

    <!--Tahakkuk Bilgileri-->
    <script type="text/javascript">
        function ParseDate(input) {
            var offset = new Date().getTimezoneOffset() * 60000;
            var currentTime = new Date(parseInt(input.substr(6)));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return date;
        }


        $('#tblBeyan td:first-child').click(function (e) {

            var id = $(this).attr("data-id");
            var beyanYil = $(this).attr("data-yil");

            var table = $('#tblBeyan').DataTable();

            var tr = $(this).closest('tr');

            var row = table.row(tr);


            $.ajax({
                url: "/Kira/Beyan/GetirDetayTable/",
                type: "Post",
                dataType: 'Json',
                data: { BeyanId: id },
                success: function (success) {
                    var KiraBeyan_Id = success.data[0].KiraBeyan_Id;
                    $("#hdDetayValue").val(KiraBeyan_Id);
                    debugger;

                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        row.child.isShown();
                        var result = row.child(subTable(KiraBeyan_Id, beyanYil, success.data)).show();

                        if (result != null) {
                            result.show();
                            tr.addClass('shown');
                        }
                    }
                },
            });
        });

        function subTable(KiraBeyan_Id, BeyanYil, dataSource) {

            var html = '<table id="tblDetay" class="table table-striped table-bordered table-hover dataTable no-footer display nowrap">'

                + '<thead><tr>' +
                '<th>No</th>' +
                '<th>Beyan Yıl</th>' +
                '<th>Taksit No</th>' +
                '<th>Vade Tarihi</th>' +
                '<th>Tutar</th>' +
                '<th>Açıklama</th>' +
                '<th>Durum</th></tr></thead>';
            var durum = '';
            if (dataSource != null) {
                for (var i = 0; i < dataSource.length; i++) {

                    if (dataSource[i].OdemeDurumu) {
                        durum = '<b class="label aktif-buton-beyandetay">Tahsil </b>';
                    }
                    else {
                        durum = '<b class="label pasif-buton-beyandetay">Vade</b>';
                    }
                    if (KiraBeyan_Id == dataSource[i].KiraBeyan_Id) {
                        html += '<tr role="row">' +
                            '<td role="row" class="odd">' + (i + 1) + '</td>' +
                            '<td>' + BeyanYil + '</td>' +
                            '<td>' + dataSource[i].TaksitNo + '</td>' +
                            '<td>' + ParseDate(dataSource[i].VadeTarihi) + '</td>' +
                            '<td>' + dataSource[i].Tutar + '</td>' +
                            '<td>' + dataSource[i].Aciklama + '</td>' +
                            '<td>' + durum + '</td>' +
                            '</tr>';
                    }
                }
            }
            html += '</table>';
            return html;
        }

    </script>
}
