@model Framework.WebUI.Models.ViewModels.DuyuruVM
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@if (Model.Errors != null && Model.Errors.Count > 0)
{
    <div id="content">
        <section id="widget-grid">
            <div class="row">
                <div class="row alert alert-danger">
                    <i class="glyphicon glyphicon-warning-sign col-md-1"></i>
                    <ul style="list-style-type:none" class="col-md-11">
                        @foreach (var item in Model.Errors)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            </div>
        </section>
    </div>
}
@if (!Model.HideContent)
{
    <div id="content">
        <section id="widget-grid" class="sayfaust_bosluk">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                            <h2>Duyuru Listesi - <b>Toplam Duyuru Adedi : @Model.TotalRecordCount</b></h2>
                            <div style="float:right; margin-top: -5px; padding-bottom: 8px;">
                                <p>
                                    @Html.AuthActionLink(" Duyuru Ekle", "Ekle", "Duyuru", "btn btn-primary", "glyphicon glyphicon-plus", Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                                </p>
                            </div>
                        </header>
                        <div role="contentinfo">
                            <div class="widget-body">
                                <div class="tab-pane fade active in">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table id="dt_basic" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dt_basic_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th style="width: 20px;">No</th>
                                                        <th class="sorting_disabled" rowspan="1" colspan="1">Tür Adı</th>
                                                        <th class="sorting_disabled" rowspan="1" colspan="1">Duyuru Adı</th>
                                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 250px;">Durum</th>
                                                        <th class="sorting_disabled text-center" rowspan="1" colspan="1" style="text-align: right;  padding-right: 30px; width: 100px;">İşlem</th>
                                                    </tr>
                                                </thead>
                                                @if (Model.Duyurular != null && Model.Duyurular.Count > 0)
                                                {
                                                    <tbody>

                                                        @{int i = ((Model.PageNumber - 1) * Model.PageSize) + 1;}

                                                        @foreach (var item in Model.Duyurular)
                                                        {
                                                            <tr role="row" class="odd">
                                                                <td>@(i++)</td>
                                                                <td>@Html.DisplayFor(model => item.Duyuru_Turleri.Ad)</td>
                                                                <td>@Html.DisplayFor(model => item.Ad)</td>
                                                                <td>
                                                                    @if (item.AktifMi.HasValue && item.AktifMi.Value)
                                                                    {
                                                                        <b class="label aktif-buton">Aktif</b>
                                                                    }
                                                                    else
                                                                    {
                                                                        <b class="label pasif-buton">Pasif</b>
                                                                    }
                                                                </td>
                                                                <td class="text-center">
                                                                    @*@Html.AuthAction(" ", "Bildirim", "Duyuru", new { item.Guid },
                                                                        new { @class = "no-underline margin-right-5 fa fa-paper-plane font-md txt-color-blue", @data_target = "#bildirimModal" },
                                                                        Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))*@

                                                                    <a href="#" id="btnBildirim" class="no-underline margin-right-5 fa fa-paper-plane font-md txt-color-blue
                                                                       bildirimPopup" rel="tooltip" data-toggle="modal"
                                                                       data-target="#bildirimModal" data-original-title="Duyuru Bildirim Gönder" data-id="@item.Id" data-name="@item.Ad">
                                                                    </a>

                                                                    @Html.AuthAction(" ", "Duzenle", "Duyuru", new { item.Guid },
                                                                       new { @class = "no-underline margin-right-5 fa fa-edit font-md txt-color-blue btnDuzenle" },
                                                                          Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))

                                                                    @Html.AuthAction(" ", "Sil", "Duyuru", new { item.Id },
                                                                                    new { @class = "no-underline margin-right-5 fa fa-remove font-md txt-color-blue", @data_name = item.Ad, @data_id = item.Id },
                                                                                    Convert.ToBoolean(TempData["OpenAuthorizationPopup"]))
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                }
                                                else
                                                {
                                                    <tbody>
                                                    </tbody>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <div class="modal" id="bildirimModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><b>Duyuru Bildirim</b></h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="frmBildirim">
                        <fieldset>
                            <div class="row">
                                <input type="hidden" id="duyuruId" name="duyuruId" value="">
                                <input type="hidden" id="duyuruAd" name="duyuruAd" value="">
                                <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                                    @Html.LabelFor(model => model.KullaniciRolSelectList, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <p>@Html.DropDownList("RolId", Model.KullaniciRolSelectList, new { @class = "select2", multiple = "multiple" })</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 form-group">
                                    @Html.LabelFor(model => model.KullaniciSelectList, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <p>@Html.DropDownList("KullaniciId", Model.KullaniciSelectList, new { @class = "select2", multiple = "multiple" })</p>
                                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                            <input type="button" value="Gönder" id="btnGonder" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
            </div>
        </div>
    </div>
}


@section pagespecific {
    @Scripts.Render("~/bundles/jqueryval")
     <link href="~/Content/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <script src="~/Content/SweetAlert/sweetalert2.min.js"></script>

    <!--Kullanıcı ve Rol Seçme İşlemi -->
    <script type="text/javascript">

        $("#RolId").click(function (e) {
            var rolId = $("#RolId").val();

            if (rolId != null && rolId.length > 0)
                $("#KullaniciId").prop("disabled", true);
            else
                $("#KullaniciId").prop("disabled", false);
        });

        $("#KullaniciId").click(function (e) {

            var kullaniciId = $("#KullaniciId").val();

            if (kullaniciId != null && kullaniciId.length > 0)
                $("#RolId").prop("disabled", true);
            else
                $("#RolId").prop("disabled", false);
        });

    </script>

    <!--Duyuru Bildirim İşlemi -->
    <script type="text/javascript">

        $(".bildirimPopup").click(function (e) {
            e.preventDefault();
            var duyuruId = $(this).attr("data-id");
            var duyuruAd = $(this).attr("data-name");
            if (duyuruId != null && duyuruId > 0) {
                document.getElementById("duyuruId").value = duyuruId;
                document.getElementById("duyuruAd").value = duyuruAd;
            }
        });

        $("#btnGonder").click(function (e) {
            var name = $("#duyuruAd").val();
            var rolId = $("#RolId").val();
            var duyuruId = $("#duyuruId").val();
            var kullaniciId = $("#KullaniciId").val();

            if (duyuruId > 0 &&(rolId!=null || kullaniciId.length > 0)) {
                swal({
                    title: "Uyarı",
                    text: name + " Adlı Duyuruyu Göndermek İstediğinizden Emin misiniz?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Evet",
                    cancelButtonText: "İptal"
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "/Duyuru/BildirimGonder/",
                            type: 'POST',
                            data: {
                                DuyuruId: duyuruId,
                                RolId: rolId,
                                KullaniciId: kullaniciId
                            },
                            success: function (result) {
                                if (result.success) {

                                    swal('Bilgi!', result.Message, 'success');

                                    setTimeout(function () {
                                        window.location.href = "../Duyuru/Index";
                                    }, 2000);
                                }
                                else swal('Uyarı!', name + ' ' + result.Message, 'error');
                            }
                        });
                    }
                })
            }
        });
    </script>

    <!--Duyuru Silme İşlemi -->
    <script type="text/javascript">
        var dt;

        var dt_settings = {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
            },
            "searching": true,
            "bPaginate": false,
        };

        $(".delete-row").click(function (e) {
            e.preventDefault();
            var id = $(this).attr("data_id");
            var name = $(this).attr("data_name");
            var closestTR = $(this).closest("tr");
            var vl = deletealert(id, name, closestTR);
        });

        $(document).ready(function () {

            $(".btnDuzenle").mouseover(function () {
                $(this)
                    .attr('data-original-title', 'Duyuru Düzenle')
                    .tooltip('show');
            });

            $(".delete-row").mouseover(function () {
                $(this)
                    .attr('data-original-title', 'Sil')
                    .tooltip('show');
            });

            dt = $('#dt_basic').DataTable(dt_settings);
        });

    </script>

    <script type="text/javascript">
        function deletealert(Id, name, closestTR) {
            swal({
                title: "Uyarı",
                text: name + " Adlı Duyuruyu Silmek İstediğinizden Emin misiniz?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Evet",
                cancelButtonText: "İptal"
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/Duyuru/Sil/" + Id,
                        type: 'POST',
                        success: function (result) {
                            if (result.success) {
                                closestTR.fadeOut(2000, function () {
                                    dt = $('#dt_basic').DataTable();
                                    swal('Bilgi!', name + ' ' + result.Message, 'success');
                                    location.reload();
                                });
                            }
                            else swal('Uyarı!', name + ' ' + result.Message, 'error');
                        }
                    });
                }
            })
        }
    </script>

}




