@model Framework.WebUI.Models.ViewModels.GayrimenkulEkleVM
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Areas/Emlak/Views/Shared/_LayoutEmlak.cshtml";
}

@if (!Model.HideContent)
{
    <div id="content">
        @*<section id="widget-grid">

                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget sorgulama-kriteri" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                            <header>
                                <div style="margin-top: -5px;">
                                    <p>
                                        <a href="@Url.Action("Index")" class="btn btn-warning" title="" rel="tooltip" data-placement="bottom" data-original-title="Gayrimenkul Dön"><span class="glyphicon glyphicon-chevron-left"></span> Gayrimenkul Listesine Dön</a>
                                    </p>
                                </div>
                            </header>
                        </div>
                    </article>
                </div>
            </section>*@

        <section id="widget-grid" class="sayfaust_bosluk">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                            <h2>Gayrimenkul Tanım</h2>
                            @*<div class="btn-group" style="float: right; margin-top: 4px; margin-right: 11px;" role="menu">
                                    <button class="btn btn-primary">
                                        Gayrimenkul İşlemleri
                                    </button>
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("DosyaEkle", new { Guid = Model.Guid})" id="gayrimenkulDosya">
                                                <span class="glyphicon glyphicon-upload"></span> Dosya Yükleme
                                            </a>
                                        </li>
                                    </ul>
                                </div>*@
                        </header>
                        <div role="content" style="display: block;">
                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body">

                                <div class="row">

                                    <div id="wizard-1" novalidate="novalidate">
                                        <div id="bootstrap-wizard-1" class="col-sm-12">
                                            @using (Html.BeginForm("Ekle", "Gayrimenkul", FormMethod.Post, new { enctype = "multipart/form-data", id = "submitForm" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div id="wizard">
                                                    <div class="form-bootstrapWizard">
                                                        <ul class="form-wizard nav nav-tabs">

                                                            <li data-target="#step1" class="active" id="step1" style="width:30%;">
                                                                <a href="#tab1" data-toggle="tab" aria-expanded="true">
                                                                    <span class="step">
                                                                        1 -
                                                                    </span>
                                                                    <span class="title" style="z-index:2;">Gayrimenkul Bilgileri</span>
                                                                </a>
                                                            </li>

                                                            <li data-target="#step2" id="step2" style="width:30%;">
                                                                <a href="#tab2" data-toggle="tab" aria-expanded="false">
                                                                    <span class="step">
                                                                        2 -
                                                                    </span>
                                                                    <span class="title" style="z-index:2;">Tapu Bilgileri</span>
                                                                </a>
                                                            </li>

                                                            <li data-target="#step3" id="step3" style="width: 30%;">
                                                                <a href="#tab3" data-toggle="tab" aria-expanded="false">
                                                                    <span class="step">
                                                                        3 -
                                                                    </span>
                                                                    <span class="title" style="z-index:2;">Dosya Bilgileri</span>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab1">
                                                            <legend>
                                                                <h3><strong>1. Adım </strong> - Gayrimenkul Bilgileri</h3>
                                                            </legend>
                                                            <form class="form-horizontal" id="gayrimenkulForm" novalidate="novalidate">
                                                                @Html.AntiForgeryToken()
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                @*<div class="input-group" style="width: 100%;">
                                                                                        @Html.Label("Taşınmaz No", new { @class = "col-md-4 font-bold" })
                                                                                        <div class="col-md-6">
                                                                                            @Html.TextBox("GayrimenkulNo", "", new { @class = "form-control ", @type = "number" })
                                                                                            @Html.HiddenFor(model => model.GayrimenkulNo, new { @class = "form-control" })
                                                                                        </div>
                                                                                        <div class="col-md-2">
                                                                                            <button class="btn btn-primary" id="btnTasinmazSorgula" type="button"
                                                                                                    data-loading-text="<i class='fa fa-spinner fa-spin '></i> Tapu Sorgulanıyor...">
                                                                                                <span class="glyphicon glyphicon-search"></span> Sorgula
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>*@
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.GayrimenkulNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.GayrimenkulNo, "", new { @class = "form-control", @readonly = true })
                                                                                        @Html.ValidationMessage("GayrimenkulNo", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.GayrimenkulDurumSelectList, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.DropDownList("GayrimenkulDurum_Id", Model.GayrimenkulDurumSelectList, "Seçiniz", new { @class = "select2" })
                                                                                        @Html.ValidationMessage("GayrimenkulDurum_Id", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.TurSelectList, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.DropDownList("GayrimenkulTur_Id", Model.TurSelectList, "Seçiniz", new { @class = "select2" })
                                                                                        @Html.ValidationMessage("GayrimenkulTur_Id", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.GayrimenkulAdi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.GayrimenkulAdi, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("GayrimenkulAdi", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.IlceSelectList, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.DropDownList("Ilce_Id", Model.IlceSelectList, "Seçiniz", new { @class = "select2" })
                                                                                        @Html.ValidationMessage("Ilce_Id", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.MahalleSelectList, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.DropDownList("Mahalle_Id", new SelectList(string.Empty, "Value", "Text"), "Seçiniz", new { @class = "select2" })
                                                                                        @Html.ValidationMessage("Mahalle_Id", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.Cadde, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.Cadde, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("Cadde", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.Sokak, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.Sokak, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("Sokak", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">

                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.DisKapiNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.DisKapiNo, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("DisKapiNo", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.IcKapiNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.IcKapiNo, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("IcKapiNo", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">

                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.Koordinat, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.Koordinat, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("Koordinat", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group" id="colMetrekare">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.Metrekare, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.Metrekare, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("Metrekare", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">

                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.AracKapasitesi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.AracKapasitesi, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("AracKapasitesi", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.AcikAdres, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextAreaFor(model => model.AcikAdres, new { @class = "form-control", @rows = "3" })
                                                                                        @Html.ValidationMessage("AcikAdres", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </fieldset>
                                                            </form>
                                                        </div>

                                                        <div class="tab-pane" id="tab2">
                                                            <legend>
                                                                <h3><strong>2. Adım </strong> - Tapu Bilgileri</h3>
                                                            </legend>
                                                            <form class="form-horizontal" id="tapuForm" novalidate="novalidate">
                                                                @Html.AntiForgeryToken()
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.BinaKimlikNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.BinaKimlikNo, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("BinaKimlikNo", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.NumaratajKimlikNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.NumaratajKimlikNo, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("NumaratajKimlikNo", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.Ada, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.Ada, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("Ada", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.Pafta, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.Pafta, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("Pafta", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.Parsel, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.Parsel, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("Parsel", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.AdresNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.AdresNo, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("AdresNo", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </fieldset>
                                                            </form>
                                                        </div>

                                                        <div class="tab-pane" id="tab3">
                                                            <legend>
                                                                <h3><strong>3. Adım </strong> - Dosya Bilgileri</h3>
                                                            </legend>
                                                            <form class="form-horizontal" id="BelgeEkleForm" novalidate="novalidate">
                                                                @Html.AntiForgeryToken()
                                                                <fieldset class="dosyaSatirlari" id="dosyaSatiri_1">
                                                                    <div class="col-md-10 col-md-offset-1">
                                                                        <div class="col-md-6 smart-form" style="padding: 0;">
                                                                            @foreach (var item in Model.DosyaTurleri)
                                                                            {
                                                                                <div class="col-md-11" style="padding: 0;">
                                                                                    <section>

                                                                                        <div class="form-group">
                                                                                            <label for="file" class="input input-file">
                                                                                                <div class="button">
                                                                                                    @Html.TextBox("dosya" + item.Id, "", new { @class = "form-control taranmisDosya", type = "file", data_id = item.Id })Belge Ekle
                                                                                                </div>
                                                                                                <input type="text" id="placeholder_@item.Id" placeholder="@item.Ad" readonly="">
                                                                                            </label>
                                                                                        </div>

                                                                                    </section>
                                                                                </div>
                                                                                <div class="col-md-1" style="padding: 0;">
                                                                                    <i class="fa fa-check-square dogru" id="dogru__@item.Id" style="display:none"></i>
                                                                                    <i class="fa fa-times-circle yanlis" id="yanlis__@item.Id" style="display:none"></i>
                                                                                </div>
                                                                            }
                                                                        </div>

                                                                        <div id="loadingbtnBelgeEkleme" class="hide" style="float:left;"><i class="fa fa-spinner fa-spin fa-2x"></i> İşleminiz yapılıyor ...</div>

                                                                        <button class="btn btn-primary" style="display:none" id="btnBelgeKaydet" onclick="BelgeEkle(@Model.Guid)" type="button">
                                                                            <span class="glyphicon glyphicon-floppy-save"></span> Yükle
                                                                        </button>


                                                                    </div>
                                                                </fieldset>
                                                            </form>
                                                        </div>

                                                        <div class="form-actions sonStep" style="margin-right: -18px;">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <ul class="pager wizard no-margin no-steps-container">
                                                                        <li class="previous disabled">
                                                                            <a href="javascript:void(0);" class="btn btn-lg btn-default" id="btnGeri"> Geri </a>
                                                                        </li>
                                                                        <li class="next">
                                                                            <a href="javascript:void(0);" id="btnIleri" class="btn btn-lg txt-color-darken"> Kaydet ve İlerle</a>
                                                                            <div id="loadingbtnIleri" class="hide" style="float:right;"><i class="fa fa-spinner fa-spin fa-2x"></i> İşleminiz yapılıyor ...</div>
                                                                        </li>
                                                                        <li class="finish" style="float: right; margin-right: 15px; display: block;">
                                                                            <button class="btn btn-success" id="btnSonKaydet" type="submit">
                                                                                Kaydet <span class="glyphicon glyphicon-ok"></span>
                                                                            </button>
                                                                            <div id="btnSonKaydet" class="hide" style="float:right;"><i class="fa fa-spinner fa-spin fa-2x"></i> İşleminiz yapılıyor ...</div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="contentinfo">
                                <div class="widget-body">
                                    <div class="tab-pane fade active in">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
}

@section pagespecific {
    <!-- Sweet Alert -->
    <link href="~/Content/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <script src="~/Content/SweetAlert/sweetalert2.min.js"></script>
    <script src="~/Scripts/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Scripts/loadingoverlay.min.js"></script>

    <style type="text/css">
        .loadingoverlay_element {
            position: fixed;
            z-index: 999;
            height: 10em;
            width: 20em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    </style>

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

    <!--Gayrimenkul Ekle-->
    <script type="text/javascript">
        $(function () {
            $('#btnSonKaydet').on('click', function () {
                gayrimenkul = new Object();
                gayrimenkul.Guid = $("#Guid").val();
                gayrimenkul.Ad = $("#Ad").val();
                gayrimenkul.GayrimenkulTur_Id = $("#GayrimenkulTur_Id").val();
                gayrimenkul.Ilce_Id = $("#Ilce_Id").val();
                gayrimenkul.Mahalle_Id = $("#Mahalle_Id").val();
                gayrimenkul.GayrimenkulDurum_Id = $("#GayrimenkulDurum_Id").val();
                gayrimenkul.BinaKimlikNo = $("#BinaKimlikNo").val();
                gayrimenkul.NumaratajKimlikNo = $("#NumaratajKimlikNo").val();
                gayrimenkul.AdresNo = $("#AdresNo").val();
                gayrimenkul.Cadde = $("#Cadde").val();
                gayrimenkul.Sokak = $("#Sokak").val();
                gayrimenkul.DisKapiNo = $("#DisKapiNo").val();
                gayrimenkul.IcKapiNo = $("#IcKapiNo").val();
                gayrimenkul.AcikAdres = $("#AcikAdres").val();
                gayrimenkul.Koordinat = $("#Koordinat").val();
                gayrimenkul.Ada = $("#Ada").val();
                gayrimenkul.Pafta = $("#Pafta").val();
                gayrimenkul.Parsel = $("#Parsel").val();
                gayrimenkul.GayrimenkulNo = $("#GayrimenkulNo").val();
                gayrimenkul.DosyaNo = $("#DosyaNo").val();
                gayrimenkul.AracKapasitesi = $("#AracKapasitesi").val();
                gayrimenkul.Metrekare = $("#Metrekare").val();
                gayrimenkul.OlusturulmaTarihi = $("#OlusturulmaTarihi").val();
                gayrimenkul.OlusturanKullanici_Id = $("#OlusturanKullanici_Id").val();
                gayrimenkul.GayrimenkulDosyalar = gayrimenkulDosyalar;
                debugger;

                if ($("#submitForm").valid())
                {
                    debugger;
                   $.ajax({
                    type: 'Post',
                    url: '@Url.Action("Ekle", "Gayrimenkul")',
                       data: { model: gayrimenkul },
                    success: function (result) {
                        if (result != null && result.success) {

                            swal('Bilgi!', result.Message, 'success');

                            setTimeout(function () {
                                window.location.href = "../Emlak/Gayrimenkul/Ekle";
                            }, 2000);
                        }
                        else {
                            swal('Uyarı!', result.Message, 'warning');
                        }
                    },
                    error: function (xhr) {
                        swal('Uyarı!', result.Message, 'warning');
                    }
                 });
                }
            });
        });
    </script>

    <!--Belge Ekleme -->
    <script type="text/javascript">
        var gayrimenkulDosyalar = [];

        $(document).on("change", ".taranmisDosya", function (evt) {
            debugger;
            var BasvuruGrupTipi_DosyaTipi_Id = $(this).attr("data-id");
            var dosyaAdi = $(this).val().replace(/C:\\fakepath\\/, '');

            $("#GayrimenkulDosyaTur_" + BasvuruGrupTipi_DosyaTipi_Id).val(dosyaAdi);
            //var regex = new RegExp("(.*?)\.(pdf)$");
            //if (!(regex.test(dosyaAdi))) {
            //    UyariVer("Hata", "Sadece PDF Dosyası Yükleyebilirsiniz.", false, 4000);
            //    $("#yanlis_" + BasvuruGrupTipi_DosyaTipi_Id ).show();
            //    Dosya = "";
            //}
            var fileUpload = $("#DosyaTur_" + BasvuruGrupTipi_DosyaTipi_Id).get(0);

            var files = evt.target.files[0];

            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var formData = new FormData();
                    formData.append(BasvuruGrupTipi_DosyaTipi_Id, files);
                }
            }
            var fileBinary;

            var reader = new FileReader();
            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                debugger;
                return function (e) {
                    var binaryData = e.target.result;

                    var base64String = window.btoa(binaryData);

                    fileBinary = base64String;
                    gayrimenkulDosyalar.push({ GayrimenkulDosyaTur_Id: BasvuruGrupTipi_DosyaTipi_Id, DosyaAdi: dosyaAdi, GayrimenkulDosya: fileBinary });
                };
            })(files);
            // Read in the image file as a data URL.
            reader.readAsBinaryString(files);
        });

        function BelgeEkle(gayrimenkulId) {

            var $valid = $("#BelgeEkleForm").valid();
            if (!$valid) {
                $validatorBelgeEkle.focusInvalid();
                return false;
            } else {

                $("#path").val("");

                $('#loadingbtnBelgeEkleme').removeClass();
                $("#btnBelgeKaydet").removeClass();
                $("#btnBelgeKaydet").addClass('btn btn-warning hide');
                var x = document.getElementById("myFile").value;


                var sonuc = true;
                var sayac = 0;
                var elems = $("form .taranmisDosya");
                var count = elems.length;
                var tumDosyalarYuklendiMi = true;
                setTimeout(function () {
                    if (tumDosyalarYuklendiMi) {
                        $("#btnBelgeKaydet").removeClass();
                        $("#btnBelgeKaydet").addClass('btn btn-primary');
                        $('#loadingbtnBelgeEkleme').addClass('hide');
                    }
                }, 1500);


            }
        }
    </script>


    <!--Tab Control-->
    <script type="text/javascript">
        $(document).ready(function () {

            const wizard = $('#wizard');

            wizard.bootstrapWizard({
                'tabClass': 'nav nav-pills',
                onTabClick: function (tab, navigation, index) {
                    return true;
                },
                onNext: function (tab, navigation, index) {
                },
                onTabShow: function (tab, navigation, index) {

                    const $total = navigation.find('li').length;
                    const $current = index + 1;

                    const pager = wizard.find('.pager');

                    if ($current >= $total) {
                        pager.find('.next').hide();
                        pager.find('.finish').show();
                        pager.find('.finish').removeClass('disabled');

                    } else {
                        pager.find('.next').show();
                        pager.find('.finish').hide();
                    }
                }
            });

        });
    </script>

    <!--Gayrimenkul Tür-->
    <script type="text/javascript">
        $(document).ready(function () {

            $("#GayrimenkulTur_Id").change(function (e) {

                var gayrimenkulTur = $(this).find('option:selected').text();
                var colMetrekare = $('#colMetrekare');
                var colAracKapasitesi = $('#colAracKapasitesi');

                if (gayrimenkulTur == "Otopark") {
                    colMetrekare.hide();
                    colAracKapasitesi.show();
                    $('#Metrekare').val('');
                    $('#AracKapasitesi').val('');
                }
                else {
                    colMetrekare.show();
                    colAracKapasitesi.hide();
                    $('#Metrekare').val('');
                    $('#AracKapasitesi').val('');
                }


            });
        });
    </script>

    <!--İlçe Bilgileri-->
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Il_Id").change(function (e) {

                var ilId = $(this).val();

                if (ilId != null) {
                    $.ajax({
                        type: 'Post',
                        url: '/Emlak/Gayrimenkul/IlceSelectList/ilId=' + ilId,
                        data: { ilId: ilId },
                        success: function (result) {
                            if (result != null && result.success) {
                                $("#Ilce_Id").empty();
                                $("#Ilce_Id").append(
                                    $('<option></option>').val(null).html('Lütfen Seçiniz'));
                                $.each(result.Data, function (i, data) {
                                    $('<option></option>').val(null).html('');
                                    $("#Ilce_Id").append(
                                        $('<option></option>').val(data.Id).html(data.Ad));
                                });
                            }
                            else {
                                swal('Uyarı!', result.Message, 'warning');
                            }
                        },
                        error: function (xhr) {
                            swal('Uyarı!', result.Message, 'warning');
                        }
                    });
                }
            });

            $("#Ilce_Id").change(function (e) {

                var ilceId = $(this).val();

                if (ilceId != null) {
                    $.ajax({
                        type: 'Post',
                        url: '/Emlak/Gayrimenkul/MahalleSelectList/ilceId=' + ilceId,
                        data: { ilceId: ilceId },
                        success: function (result) {
                            if (result != null && result.success) {
                                $("#Mahalle_Id").empty();
                                $("#Mahalle_Id").append(
                                    $('<option></option>').val(null).html('Lütfen Seçiniz'));
                                $.each(result.Data, function (i, data) {
                                    $('<option></option>').val(null).html('');
                                    $("#Mahalle_Id").append(
                                        $('<option></option>').val(data.Id).html(data.Ad));
                                });
                            }
                            else {
                                swal('Uyarı!', result.Message, 'warning');
                            }
                        },
                        error: function (xhr) {
                            swal('Uyarı!', result.Message, 'warning');
                        }
                    });
                }
            });

        });
    </script>

    <!--Tapu Bilgileri Sorgulama-->
    <script type="text/javascript">
        $("#btnTasinmazSorgula").click(function (e) {

            var tasinmazNo = $('#TasinmazNo').val();

            if (tasinmazNo != '') {

                $.LoadingOverlay("show", { text: "Tapu Bilgileri Sorgulanıyor...", textResizeFactor: 0.2, background: "rgba(0, 0, 0, 0.5)" });

                setTimeout(function () {
                    $.LoadingOverlay("hide");
                }, 2000);
            }
        });
    </script>

}

