@model Framework.WebUI.Models.ViewModels.KiraBeyanVM
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Kira Yönetim Sistemi";
    Layout = "~/Areas/Kira/Views/Shared/_LayoutKira.cshtml";
    int sonSayfa = 0;
}


@if (Model != null && Model.Errors != null && Model.Errors.Count > 0)
{
    <div id="content">
        <section id="widget-grid">
            <div class="row">
                <div class="row alert alert-danger">
                    <i class="glyphicon glyphicon-warning-sign col-md-1"></i>
                    <ul style="list-style-type:none" class="col-md-11">
                        @foreach (var item in Model.Errors)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </div>
            </div>
        </section>
    </div>
}
@if (!Model.HideContent)
{
    <div id="content">
        <section id="widget-grid" class="sayfaust_bosluk">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header>
                            <div style="float:left; margin-top: -5px; padding-bottom: 8px;">

                                <span id="spnFiltre">
                                    <a href="#" id="btnAcKriter" class="btn btn-info" data-toggle="canvas" data-target="#bs-canvas-right" title="Filtreleme" aria-expanded="false" aria-controls="bs-canvas-right">
                                        <span>Filtrele</span>
                                        <i class="fa fa-filter">
                                        </i>
                                    </a>
                                </span>

                            </div>
                            <div style="float:right; margin-top: -5px; padding-bottom: 8px;">
                                <div class="btn-group" role="menu">
                                    <button class="btn btn-info">
                                        <i class="glyphicon glyphicon-export"></i>
                                        Dosya İşlemleri
                                    </button>
                                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" id="btnExport" rel="tooltip"
                                               data-original-title="Excel Raporu">
                                                <span>Excel</span>
                                                <i class="fa fa-file-excel-o">
                                                </i>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <h2>Beyan Listesi - <b>Toplam Beyan Adedi : @Model.TotalRecordCount</b></h2>


                        </header>
                        <div role="contentinfo">
                            <div class="widget-body">
                                <div class="tab-pane fade active in">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div id="pnlKriter" class="bs-offset-main bs-canvas-anim" style="display:none;">
                                                <div id="bs-canvas-right" class="bs-canvas bs-canvas-anim bs-canvas-left position-fixed bg-light h-100" data-width="100%">
                                                    <header class="bs-canvas-header p-3 bg-success overflow-auto">
                                                        <button type="button" class="bs-canvas-close float-left close" aria-label="Close">
                                                            <span aria-hidden="true" class="text-light">&times;</span>
                                                        </button>
                                                        <h4 class="d-inline-block text-light mb-0 float-right">Sorgulama Kriterleri</h4><br />
                                                    </header>
                                                    <div class="bs-canvas-content px-3 py-5" style="height:250px">
                                                        @using (Html.BeginForm("Beyan", "Raporlar", FormMethod.Post, new { enctype = "multipart/form-data", id = "submitForm" }))
                                                        {
                                                            <div class="widget-body">
                                                                @Html.HiddenFor(model => model.PageSize)
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => Model.BeyanTurSelectList, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.DropDownList("BeyanTur_Id", Model.BeyanTurSelectList, "Seçiniz", new { @class = "select2" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => Model.BeyanYilSelectList, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.DropDownList("BeyanYil", Model.BeyanYilSelectList, "Seçiniz", new { @class = "select2 " })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => Model.KiraDurumSelectList, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.DropDownList("KiraDurum_Id", Model.KiraDurumSelectList, "Seçiniz", new { @class = "select2 " })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.KdvOraniSelectList, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.DropDownList("Kdv", Model.KdvOraniSelectList, "Seçiniz", new { @class = "select2 " })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.OdemePeriyotSelectList, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.DropDownList("OdemePeriyotTur_Id", Model.OdemePeriyotSelectList, "Seçiniz", new { @class = "select2 " })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.DamgaVergisiDurumSelectList, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.DropDownList("DamgaAlinsinMi", Model.DamgaVergisiDurumSelectList, "Seçiniz", new { @class = "select2 " })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.BeyanNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.BeyanNo, "", new { @class = "form-control " })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.NoterSozlesmeNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => Model.NoterSozlesmeNo, "", new { @class = "form-control " })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.EncumenKararNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.EncumenKararNo, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("EncumenKararNo", "Lütfen bir sayı giriniz!", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.BeyanTarihi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        <div class="input-group date datetimepicker">
                                                                                            @{
                                                                                                @Html.TextBoxFor(model => model.BeyanTarihi, new { @class = "form-control datepicker ", @autocomplete = "off" })
                                                                                                <span class="input-group-addon" id="openDate">
                                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                                </span>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.IhaleEncumenTarihi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        <div class="input-group date datetimepicker">
                                                                                            @{
                                                                                                @Html.TextBoxFor(model => model.IhaleEncumenTarihi, new { @class = "form-control datepicker ", @autocomplete = "off" })
                                                                                                <span class="input-group-addon" id="openDate">
                                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                                </span>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.KiraBaslangicTarihi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        <div class="input-group date datetimepicker">
                                                                                            @{
                                                                                                @Html.TextBoxFor(model => model.KiraBaslangicTarihi, new { @class = "form-control datepicker ", @autocomplete = "off" })
                                                                                                <span class="input-group-addon" id="openDate">
                                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                                </span>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.SozlesmeTarihi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        <div class="input-group date datetimepicker">
                                                                                            @{
                                                                                                @Html.TextBoxFor(model => model.SozlesmeTarihi, new { @class = "form-control datepicker ", @autocomplete = "off" })
                                                                                                <span class="input-group-addon" id="openDate">
                                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                                </span>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.SozlesmeBitisTarihi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        <div class="input-group date datetimepicker">
                                                                                            @{
                                                                                                @Html.TextBoxFor(model => model.SozlesmeBitisTarihi, new { @class = "form-control datepicker ", @autocomplete = "off" })
                                                                                                <span class="input-group-addon" id="openDate">
                                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                                </span>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.TeminatTarihi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        <div class="input-group date datetimepicker">
                                                                                            @{
                                                                                                @Html.TextBoxFor(model => model.TeminatTarihi, new { @class = "form-control datepicker ", @autocomplete = "off" })
                                                                                                <span class="input-group-addon" id="openDate">
                                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                                </span>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.BeyanKapatmaTarihi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        <div class="input-group date datetimepicker">
                                                                                            @{
                                                                                                @Html.TextBoxFor(model => model.BeyanKapatmaTarihi, new { @class = "form-control datepicker ", @autocomplete = "off" })
                                                                                                <span class="input-group-addon" id="openDate">
                                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                                </span>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.TeminatNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => Model.TeminatNo, "", new { @class = "form-control " })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.KullanimAlani, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.KullanimAlani, "", new { @class = "form-control " })
                                                                                        @Html.ValidationMessage("KullanimAlani", "Lütfen bir sayı giriniz!", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">

                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.SozlesmeSuresi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.SozlesmeSuresi, "", new { @class = "form-control " })
                                                                                        @Html.ValidationMessage("SozlesmeSuresi", "Lütfen bir sayı giriniz!", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.MusadeliGunSayisi, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.MusadeliGunSayisi, "", new { @class = "form-control " })
                                                                                        @Html.ValidationMessage("MusadeliGunSayisi", "Lütfen bir sayı giriniz!", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.KalanAy, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.KalanAy, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("KalanAy", "Lütfen bir sayı giriniz!", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.IhaleTutari, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.IhaleTutari, "{0:c}", new { @class = "form-control  moneyFormat" })
                                                                                        @Html.ValidationMessage("IhaleTutari", "Lütfen bir sayı giriniz!", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.KiraTutari, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.KiraTutari, "{0:c}", new { @class = "form-control  moneyFormat" })
                                                                                        @Html.ValidationMessage("KiraTutari", "Lütfen bir sayı giriniz!", new { @class = "text-danger" })

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <div class="input-group" style="width: 100%;">
                                                                                    @Html.LabelFor(model => model.BaslangicTaksitNo, new { @class = "col-md-4 font-bold" })
                                                                                    <div class="col-md-6">
                                                                                        @Html.TextBoxFor(model => model.BaslangicTaksitNo, "", new { @class = "form-control" })
                                                                                        @Html.ValidationMessage("BaslangicTaksitNo", "Lütfen bir sayı giriniz!", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <input id="btnSubmit" type="submit" value="Sorgula" class="btn btn-primary btn-header-btn">
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <input id="btnReset" onclick="clearForm()" type="reset" value="Temizle" class="btn btn-warning btn-header-btn">
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="dvTable" class="col-md-12">
                                            @{ Html.RenderPartial("_tableBeyanPartial", Model); }

                                            <div class="dt-toolbar-footer">
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="dataTables_info" id="dt_basic_info" role="status" aria-live="polite">
                                                        Toplam
                                                        <span class="text-primary"><strong>@Model.TotalRecordCount</strong></span>  Kayıttan
                                                        <span class="text-primary"><strong>@((Model.PageNumber - 1) * Model.PageSize + 1)</strong></span> -
                                                        @if (Model.TotalRecordCount > (Model.PageNumber * Model.PageSize))
                                                        {
                                                            <span class="text-primary"><strong>@(Model.PageNumber * Model.PageSize)</strong></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-primary"><strong>@Model.TotalRecordCount</strong></span>
                                                        }
                                                        Arası Kayıtlar
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    @if (Model.Beyanlar.TotalItemCount > Model.PageSize)
                                                    {
                                                        <div id="sayfalama">
                                                            <div class="input-group input-group-md">
                                                                <div class="icon-addon addon-md">
                                                                    <input class="form-control valid input-sayfayaGit" id="sayfayaGit" name="sayfayaGit" type="text" value="">
                                                                </div>
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-primary btn-sayfayaGit" id="btnGit" type="button">Git</button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            @{
                                                                sonSayfa = Model.TotalRecordCount % Model.PageSize == 0 ? Model.TotalRecordCount / Model.PageSize : Model.TotalRecordCount / Model.PageSize + 1;
                                                                @Html.PagedListPager(Model.Beyanlar, page => Url.Action("Beyan",
                                                                                            new
                                                                                            {
                                                                                                page = page
                                                                                            }), new PagedListRenderOptions
                                                                                            {
                                                                                                MaximumPageNumbersToDisplay = 7,
                                                                                                DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                                                                                EllipsesFormat = "&#8230;",
                                                                                                LinkToFirstPageFormat = "1",
                                                                                                LinkToPreviousPageFormat = "«",
                                                                                                LinkToNextPageFormat = "»",
                                                                                                LinkToLastPageFormat = sonSayfa.ToString()
                                                                                            })
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <div id="dvjson"></div>

    </div>

    using (Html.BeginForm("Beyan", "Raporlar", new { page = 1 }, FormMethod.Post, new { @id = "sorgulamaKriterleri" }))
    {
        <input id="page" name="page" type="hidden" value="">
    }
}

@section pagespecific {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <script src="~/Content/SweetAlert/sweetalert2.min.js"></script>
    <script src="~/Scripts/loadingoverlay.min.js"></script>

    <script src="~/Scripts/table2excel.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <style type="text/css">
        .pasif-buton-beyandetay {
            padding: 3px 6px;
            border: solid 2px;
            background: none;
            border-color: #e08d26;
            color: #e08d26;
            font-weight: 700;
            display: block;
            text-align: center;
            font-size: 12px;
            width: 75px;
        }

        .aktif-buton-beyandetay {
            padding: 3px 6px;
            border: solid 2px;
            background: none;
            border-color: #2ecc71;
            color: #2ecc71;
            font-weight: 700;
            display: block;
            text-align: center;
            font-size: 12px;
            width: 55px;
        }

        .silindi-buton-beyandetay {
            padding: 3px 3px;
            border: solid 2px;
            background: none;
            border-color: #f00;
            color: #f00;
            font-weight: 700;
            display: block;
            text-align: center;
            font-size: 12px;
            width: 55px;
        }

        .kapandi-buton-beyandetay {
            padding: 3px 3px;
            border: solid 2px;
            background: none;
            border-color: #0d6aca;
            color: #0d6aca;
            font-weight: 700;
            display: block;
            text-align: center;
            font-size: 12px;
            width: 60px;
        }

        .loadingoverlay_element {
            position: fixed;
            z-index: 999;
            height: 10em;
            width: 20em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        td.details-control {
            background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
        }

        #icon {
            background-color: #bbb;
            position: relative;
        }

        #not {
            position: absolute;
            top: -20px;
            right: -10px;
            background-color: #f00;
            width: 28px;
            height: 28px;
            color: #fff;
            font-size: 12px;
            border-radius: 20px -moz-border-radius:20px;
            -webkit-border-radius: 20px;
            text-align: center;
            border: 2px solid #fff;
        }

        .bs-canvas-overlay {
            opacity: 0;
            z-index: -1;
        }

            .bs-canvas-overlay.show {
                opacity: 0.85;
                z-index: 1100;
            }

        .bs-canvas {
            top: 0;
            width: 0;
            z-index: 1110;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .bs-canvas-left {
            left: 0;
        }

        .bs-canvas-right {
            right: 0;
        }

        .bs-canvas-anim {
            transition: all .4s ease-out;
            -webkit-transition: all .4s ease-out;
            -moz-transition: all .4s ease-out;
            -ms-transition: all .4s ease-out;
        }
    </style>

    <script type="text/javascript">

        function clearForm() {
            $('#BeyanTur_Id').select2("val", "");
            $('#BeyanYil').select2("val", "");
            $('#KiraDurum_Id').select2("val", "");
            $('#Kdv').select2("val", "");
            $('#OdemePeriyotTur_Id').select2("val", "");
            $('#DamgaAlinsinMi').select2("val", "");
            $('#NoterSozlesmeNo').val('');
        }

        //$(function () {
        //    $("#btnReset").bind("click", function () {
        //        $("#ddlFruits")[0].selectedIndex = 0;
        //    });
        //});

    </script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var bsDefaults = {
                offset: false,
                overlay: true,
                height: '450px'
            },
                bsMain = $('.bs-offset-main'),
                bsOverlay = $('.bs-canvas-overlay');

            $('[data-toggle="canvas"][aria-expanded="false"]').on('click', function () {
                $('#pnlKriter').show();
                var canvas = $(this).data('target'),
                    opts = $.extend({}, bsDefaults, $(canvas).data()),
                    prop = $(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left';

                if (opts.width === '100%')
                    opts.offset = false;

                $(canvas).css('width', opts.width);
                if (opts.offset && bsMain.length)
                    bsMain.css(prop, opts.width);

                $(canvas + ' .bs-canvas-close').attr('aria-expanded', "true");
                $('[data-toggle="canvas"][data-target="' + canvas + '"]').attr('aria-expanded', "true");
                if (opts.overlay && bsOverlay.length)
                    bsOverlay.addClass('show');
                return false;
            });

            $('.bs-canvas-close, .bs-canvas-overlay').on('click', function () {
                $('#pnlKriter').hide();
                var canvas, aria;
                if ($(this).hasClass('bs-canvas-close')) {
                    canvas = $(this).closest('.bs-canvas');
                    aria = $(this).add($('[data-toggle="canvas"][data-target="#' + canvas.attr('id') + '"]'));
                    if (bsMain.length)
                        bsMain.css(($(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left'), '');
                } else {
                    canvas = $('.bs-canvas');
                    aria = $('.bs-canvas-close, [data-toggle="canvas"]');
                    if (bsMain.length)
                        bsMain.css({
                            'margin-left': '',
                            'margin-right': ''
                        });
                }
                canvas.css('width', '');
                aria.attr('aria-expanded', "false");
                if (bsOverlay.length)
                    bsOverlay.removeClass('show');
                return false;
            });
        });
    </script>

    <!--İlçe Bilgileri-->
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Ilce_Id").change(function (e) {

                var ilceId = $(this).val();

                if (ilceId != null && ilceId != '') {
                    $.ajax({
                        type: 'Post',
                        url: '/Kira/Beyan/MahalleSelectList/ilceId=' + ilceId,
                        data: { ilceId: ilceId },
                        success: function (result) {
                            if (result != null && result.success) {
                                $("#Mahalle_Id").empty();
                                $("#Mahalle_Id").append(
                                    $('<option></option>').val(null).html('Lütfen Seçiniz'));
                                $.each(result.Data, function (i, data) {
                                    $('<option></option>').val(null).html('');
                                    $("#Mahalle_Id").append(
                                        $('<option></option>').val(data.Id).html(data.Ad));
                                });
                            }
                            else {
                                swal('Uyarı!', result.Message, 'warning');
                            }
                        },
                        error: function (xhr) {
                            swal('Uyarı!', result.Message, 'warning');
                        }
                    });
                }
            });
        });
    </script>

    <!--Datepicker-->
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery.validator.methods.date = function (value, element) {
                var d = value.split(".");
                return this.optional(element) || !/Invalid|NaN/.test(new Date((/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) ? d[1] + "." + d[0] + "." + d[2] : value));
            };
            $('.datepicker').on('click', function (e) {
                e.preventDefault();
                $(this).attr("autocomplete", "off");
            });
            $('#Tarih').datepicker({
                dateFormat: 'dd.mm.yy',
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"],
                firstDay: 1
            });
        });
    </script>

    <!--Export Excel-->
    <script type="text/javascript">
        $(function () {
            $("#btnExport").click(function () {
                //var tbl = $('#tblBeyan');
                //tbl.find('th:last-child, td:last-child').remove();
                //tbl.find('th:first-child, td:first-child').remove();
                //$("#tblBeyan").table2excel({
                //    filename: "Beyanlar.xls"
                //});
                ExportToExcel();
            });
        });
       function ExportToExcel()
       {
           var kiraBeyanRequest = {
               BeyanTur_Id: $('#BeyanTur_Id').val(),
               BeyanYil: $('#BeyanYil').val(),
               KiraDurum_Id: $('#KiraDurum_Id').val(),
               Kdv: $('#Kdv').val(),
               odemePeriyoTur: $('#OdemePeriyotTur_Id').val(),
               DamgaAlinsinMi: $('#DamgaAlinsinMi').val(),
               BeyanNo: $('#BeyanNo').val(),
               NoterSozlesmeNo: $('#NoterSozlesmeNo').val(),
               EncumenKararNo: $('#EncumenKararNo').val(),
               BeyanTarihi: $('#BeyanTarihi').val(),
               IhaleEncumenTarihi: $('#IhaleEncumenTarihi').val(),
               KiraBaslangicTarihi: $('#KiraBaslangicTarihi').val(),
               SozlesmeTarihi: $('#SozlesmeTarihi').val(),
               SozlesmeBitisTarihi: $('#SozlesmeBitisTarihi').val(),
               TeminatTarihi: $('#TeminatTarihi').val(),
               BeyanKapatmaTarihi: $('#BeyanKapatmaTarihi').val(),
               TeminatNo: $('#TeminatNo').val(),
               KullanimAlani: $('#KullanimAlani').val(),
               SozlesmeSuresi: $('#SozlesmeSuresi').val(),
               MusadeliGunSayisi: $('#MusadeliGunSayisi').val(),
               KalanAy: $('#KalanAy').val(),
               IhaleTutari: $('#IhaleTutari').val(),
               KiraTutari: $('#KiraTutari').val(),
               BaslangicTaksitNo: $('#BaslangicTaksitNo').val()
           };
           $("#tblExcell").dataTable().fnDestroy();
            $.ajax({
            type: 'Post',
            url: '@Url.Action("GridExportToExcelBeyanRapor", "Raporlar")',
                data: { kiraBeyanRequest: kiraBeyanRequest },
                success: function (data) {
                    debugger;
                    TableGenarete(data);

                    debugger;
                    $("#tblExcell").table2excel({
                        filename: "Beyan_Rapor.xls"
                    });
                    document.getElementById("tblExcell_wrapper").style.display = "none";
                 },

                  });
        }

        function TableGenarete(data) {
            var veri = jQuery.parseJSON(data);


            var oTblReport = $("#tblExcell")

            oTblReport.DataTable({
                "data": veri,
                "columns": [
                    { "data": "Beyan No" },
                    { "data": "Beyan Yıl" },
                    { "data": "Encümen Karar No" },
                    { "data": "Noter Sözleşme No" },
                    { "data": "Teminat No" },
                    { "data": "İhale Tutarı" },
                    { "data": "Başlangıç Taksit No" },
                    { "data": "Kalan Ay" },
                    { "data": "Kullanim Alanı" },
                    { "data": "Sözleşme Süresi" },
                    { "data": "Kira Tutarı" },
                    { "data": "Damga Alınsın Mı" },
                    { "data": "Damga Karar Artış Türü" },
                    { "data": "Teminat Artış Türü" },
                    { "data": "Müsadeli Gün Sayısı" },
                    { "data": "KDV" },
                    { "data": "Otopark Tatil Gün" },
                    { "data": "Resmi Tatil Var Mı" },
                    { "data": "Beyan Tarihi" },
                    { "data": "İhale Encümen Tarihi" },
                    { "data": "Sözleşme Tarihi" },
                    { "data": "Sözleşme Bitiş Tarihi" },
                    { "data": "Kira Yenileme Periyot" },
                    { "data": "Teminat Tarihi" },
                    { "data": "Kira Başlangıç Tarihi" },
                    { "data": "Beyan Türü" },
                    { "data": "Kira Durumu" },
                    { "data": "Ödeme Periyot Türü" },
                    { "data": "Beyan Kapatma Tarihi" },
                ]
            });
        }

        function createPDF() {

            var kiraBeyanRequest = {
               BeyanTur_Id: $('#BeyanTur_Id').val(),
               BeyanYil: $('#BeyanYil').val(),
               KiraDurum_Id: $('#KiraDurum_Id').val(),
               Kdv: $('#Kdv').val(),
               odemePeriyoTur: $('#OdemePeriyotTur_Id').val(),
               DamgaAlinsinMi: $('#DamgaAlinsinMi').val(),
               BeyanNo: $('#BeyanNo').val(),
               NoterSozlesmeNo: $('#NoterSozlesmeNo').val(),
               EncumenKararNo: $('#EncumenKararNo').val(),
               BeyanTarihi: $('#BeyanTarihi').val(),
               IhaleEncumenTarihi: $('#IhaleEncumenTarihi').val(),
               KiraBaslangicTarihi: $('#KiraBaslangicTarihi').val(),
               SozlesmeTarihi: $('#SozlesmeTarihi').val(),
               SozlesmeBitisTarihi: $('#SozlesmeBitisTarihi').val(),
               TeminatTarihi: $('#TeminatTarihi').val(),
               BeyanKapatmaTarihi: $('#BeyanKapatmaTarihi').val(),
               TeminatNo: $('#TeminatNo').val(),
               KullanimAlani: $('#KullanimAlani').val(),
               SozlesmeSuresi: $('#SozlesmeSuresi').val(),
               MusadeliGunSayisi: $('#MusadeliGunSayisi').val(),
               KalanAy: $('#KalanAy').val(),
               IhaleTutari: $('#IhaleTutari').val(),
               KiraTutari: $('#KiraTutari').val(),
               BaslangicTaksitNo: $('#BaslangicTaksitNo').val()
           };

            $.ajax({
            type: 'Post',
            url: '@Url.Action("GridExportToExcelBeyanRapor", "Raporlar")',
                data: { kiraBeyanRequest: kiraBeyanRequest },
                success: function (data) {
                    debugger;
                    TableGenarete(data);
                    var tbl = $('#tblExcell');

                    html2canvas(tbl, {
                        onrendered: function (canvas) {
                            var data1 = canvas.toDataURL();
                            var docDefinition = {
                                content: [{
                                    image: data1,
                                    width: 500
                                }]
                            };
                            pdfMake.createPdf(docDefinition).download("BeyanRapor.pdf");
                        }
                    });

                 },

                  });

        }


        // We'll make our own renderer to skip this editor

    </script>

    <script>
        function JsonConvertoExcell(data) {
            var tableData = [
                {
                    "sheetName": "Sheet1",
                    "data": data
                }
            ];

            var options = {
                fileName: "Beyan Raporu"
            };
            Jhxlsx.export(tableData, options);
        }
    </script>



    <!--Tahakkuk Bilgileri-->
    <script type="text/javascript">
        function ParseDate(input) {
            var offset = new Date().getTimezoneOffset() * 60000;
            var currentTime = new Date(parseInt(input.substr(6)));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return date;
        }


        $('#tblBeyan td:first-child').click(function (e) {

            var id = $(this).attr("data-id");
            var beyanYil = $(this).attr("data-yil");

            var table = $('#tblBeyan').DataTable();

            var tr = $(this).closest('tr');

            var row = table.row(tr);


            $.ajax({
                url: "/Kira/Raporlar/GetirBeyanDetayTable/",
                type: "Post",
                dataType: 'Json',
                data: { BeyanId: id },
                success: function (success) {
                    if (success.data != null && success.data.length > 0) {
                        var KiraBeyan_Id = success.data[0].KiraBeyan_Id;
                        $("#hdDetayValue").val(KiraBeyan_Id);

                        if (row.child.isShown()) {
                            row.child.hide();
                            tr.removeClass('shown');
                        } else {
                            row.child.isShown();
                            var result = row.child(subTable(KiraBeyan_Id, beyanYil, success.data)).show();

                            if (result != null) {
                                result.show();
                                tr.addClass('shown');
                            }
                        }
                    }
                },
            });
        });

        function subTable(KiraBeyan_Id, BeyanYil, dataSource) {

            var html = '<table id="tblDetay" class="table table-striped table-bordered table-hover dataTable no-footer display nowrap">'

                + '<thead><tr>' +
                '<th>No</th>' +
                '<th>Beyan Yıl</th>' +
                '<th>Taksit No</th>' +
                '<th>Vade Tarihi</th>' +
                '<th>Tutar</th>' +
                '<th>Açıklama</th>' +
                '<th>Durum</th>' +
                '<th>Aktif Mi</th></tr >' +
                '</thead > ';
            var durum = '';
            var aktifMiStr = '';
            if (dataSource != null) {
                for (var i = 0; i < dataSource.length; i++) {

                    if (dataSource[i].OdemeDurumu) {
                        durum = '<b class="label aktif-buton-beyandetay">Tahsil </b>';
                    }
                    else {
                        durum = '<b class="label pasif-buton-beyandetay">Vade</b>';
                    }
                    if (dataSource[i].AktifMi == 1) {
                        aktifMiStr = '<b class="label aktif-buton-beyandetay">Aktif</b>';
                    }
                    else if (dataSource[i].AktifMi == 0) {
                        aktifMiStr = '<b class="label pasif-buton-beyandetay">Pasif</b>';
                    }
                    else if (dataSource[i].AktifMi == 2) {
                        aktifMiStr = '<b class="label silindi-buton-beyandetay">Silindi</b>';
                    }

                    if (KiraBeyan_Id == dataSource[i].KiraBeyan_Id) {
                        html += '<tr role="row">' +
                            '<td role="row" class="odd">' + (i + 1) + '</td>' +
                            '<td>' + BeyanYil + '</td>' +
                            '<td>' + dataSource[i].TaksitNo + '</td>' +
                            '<td>' + ParseDate(dataSource[i].VadeTarihi) + '</td>' +
                            '<td>' + dataSource[i].Tutar + '</td>' +
                            '<td>' + dataSource[i].Aciklama + '</td>' +
                            '<td>' + durum + '</td>' +
                            '<td>' + aktifMiStr + '</td>' +
                            '</tr>';
                    }
                }
            }
            html += '</table>';
            return html;
        }

    </script>
}
